@(contentType : MediaContentType, passport: Boolean)
<div class="passport-stories">
    <div class="passport-stories-wrapper">
        @if(passport) {
        <div class="passport-stories-title">
            Więcej o tym kościele
        </div>
            <div class="church-stories"></div>
        }
        @if(contentType == MediaContentType.Story){
            <table class="passport-update-button-wrapper">
                <tr>
                    <td><img src="/assets/images/add_story_plus.png" class="passport-update-button-icon"></td>
                    <td class="passport-update-button">DODAJ WSPOMNIENIE LUB ZDJĘCIE</td>
                </tr>
            </table>
        }
        @if(!passport) {
            <div class="church-stories"></div>
        }
    </div>
</div>
