@(part : String)
    <div class="pointy passport-update-message" id="@part-success-message">
        <div class="message-icon"></div>
        <div class="message-header">Twoje wspomnienie zostało wysłane!</div>
        <div class="message-text"></div>
    </div>
    <div class="pointy passport-update-message" id="@part-error-message">
        <div class="message-icon"></div>
        <div class="message-header">Nie udało się przesłać danych. Spróbuj ponownie.</div>
        <div class="message-text"></div>
    </div>
