@import models.user.User
@(user: User)
<div class="new-church-form ui modal">
    <nav id="new-church-menu-top" class="ui secondary pointing menu blurred">
        <div class="left item">
            <div class="new-church-modal-title">New church</div>
        </div>
        <div class="right item">
            <div class="close-button"></div>
        </div>
    </nav>
    <div class="new-church-prompt">Nie możesz znaleźć swojego kościoła? Możliwe, że został zbudowany przed wojną, albo po prostu go przeoczyliśmy. Pomóż nam go znaleźć!</div>
    <form action="@routes.Churches.suggest" method="POST" class="ui form">
        <input type="hidden" value="@user.getHash" name="user" id="church-user-hash">
        <label for="church-name">Tytuł</label>
        <input type="text" class="ui input" id="church-name" name="name" placeholder="name" class="new-church-value">
        <label for="church-address">Adres</label>
        <input type="text" class="ui input" id="church-address" name="address" placeholder="adres" class="new-church-value">
        <div class="clearfix"></div>
        <input type="button" value="Send church" class="ui submit button">
    </form>
    <div class="ui success message" id="new-church-success-message">
        <i class="close icon"></i>
        <div class="header">
            Your church
        </div>
        Your church has been successfully sent, please wait for our moderators to check it
    </div>
    <div class="ui error message" id="new-church-error-message">
        <i class="close icon"></i>
        <div class="header">
            Your church
        </div>
        Sorry, something went wrong while sending your church
    </div>
</div>
