@import models.user.User
@(user: User)
<div class="gapper"></div>
<!-- common part 1: auth info -->
<form class="common-form ui form">
    <div class="col-3 rightaligned inlinemiddle">
        <label for="story-author-name">Autor wspomnienia</label>
    </div>
    @if(user == null) {
        <div class="col-4">
            <input type="text" class="ui input" id="story-author" name="user.name" placeholder="Imię i nazwisko">
        </div>
    } else {
        <div class="col-3">
            <input type="text" class="ui input" id="story-author" name="user.name" placeholder="Imię i nazwisko">
        </div>
    }
    @if(user != null) {
        <div class="col-1"><a href="@routes.Auth.logout()" class="ui button">Not you?</a></div>
    }
    <div class="col-1"></div>
    <div class="gapper-less clearfix hide-authed"></div>
    <div class="col-3 rightaligned inlinemiddle hide-authed">
        <label for="story-author-email">adres e-mail</label>
    </div>
    <div class="col-2 hide-authed">
        <input type="text" class="ui input hide-authed" id="story-author-email" name="user.email" placeholder="">
    </div>
    <div class="col-2 hide-authed inlinemiddle">
        <div class="social-login" data-provider="facebook">
            <img class="ui image" src="@routes.Assets.at("images/fb.png")">
    <div class="social-login-invite">Zaloguj przez Facebooka</div>
</div>
</div>
    <div class="col-1 hide-authed"></div>
    <div class="gapper-less clearfix"></div>
</form>
