@import models.user.User
@(church: Church = null, from: String, user: User)
@backLink() = @{
    from + "/church/" + church.getExtID
}
<script src="@routes.Assets.at("javascripts/asd.passport.js")"></script>
<div id="fb-root"></div>
    <script>(function (d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;
    js = d.createElement(s);js.id = id;js.src = '//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.4&appId=475989659250668';
    fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    <script>!function (d, s, id) {var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {js = d.createElement(s);js.id = id;js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="passport">
    <nav id="passportmenu-top" class="ui secondary pointing menu blurred">
        <div class="left item social-wrapper">
            <div class="fb-like" data-href="" data-layout="button_count" data-action="like"
            data-show-faces="true" data-share="false"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pl">Tweetnij</a>
        </div>
        <div class="right item">
            <div class="close-button"></div>
        </div>
    </nav>
    <div class="passport-title-wrapper-outer">
        <div class="passport-title-wrapper">
            <div class="passport-title church-name"></div>
            <div class="alarm-sign"></div>
            @*<img src="@routes.Assets.at("images/alarm_sign.png")" class="alarm-sign">*@
        </div>
    </div>
    <div class="passport-image-wrapper">
        <div class="passport-image-gallery">
        @if(church != null) {
            @for(image <- church.getImages) {
                <img src="@image.path">
                }
        }
        </div>
    </div>

    <table class="passport-data-wrapper">
        <tr>
            <td class="passport-field">adres</td>
            <td class="passport-value church-address editable"></td>
            <td class="passport-data-filler"></td>
        </tr>
        <tr>
            <td class="passport-field">daty budowy</td>
            <td class="passport-value church-construction editable"></td>
            <td class="passport-data-filler"></td>
        </tr>
        <tr>
            <td class="passport-field">architekci</td>
            <td class="passport-value church-architects editable"></td>
            <td class="passport-data-filler"></td>
        </tr>
        <tr>
            <td class="passport-field">strona www</td>
            <td class="passport-value church-website editable"></td>
            <td class="passport-data-filler"></td>
        </tr>
    </table>
    <div class="passport-stories">
        <div class="passport-stories-wrapper">
            <div class="church-has-stories">
                <h1>Wspomnienia dodane przez użytkowników</h1>
            </div>
            <div class="church-stories"></div>
            <div class="add-story-wrapper-outer">
                <div class="add-story-wrapper">
                    <div class="add-story-inner">
                        <div class="add-story-plus"></div>
                        <div class="add-story-button"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="passport-new-story">
            <form action="@routes.MediaContents.newStory" method="POST" class="ui form">
                @*<div>Blah-blah</div>*@
                <input type="hidden" value="" name="church" id="story-church-id">
                <label for="story-title">Tytuł</label>
                <input type="text" class="ui input" id="story-title" name="title" placeholder="Tytuł">
                <label for="story-year">Rok</label>
                <input type="text" class="ui input" id="story-year" name="year" placeholder="2015">
                <label for="story-text">Wspomnienie</label>
                <textarea class="ui textarea" id="story-text" name="text" placeholder="What's your story?"></textarea>
                <input type="hidden" value="" name="cover" id="story-cover-id">
                <div class="story-cover-gallery-wrapper">
                    <div class="story-cover-gallery">
                    </div>
                </div>
                <div class="clearfix"></div>
                <input type="button" value="Send" class="ui submit button">
            </form>
        </div>
        <div class="ui success message" id="new-story-success-message">
            <i class="close icon"></i>
            <div class="header">
                Your story
            </div>
            Your story has been successfully sent, please wait for our moderators to check it
        </div>
        <div class="ui error message" id="new-story-error-message">
            <i class="close icon"></i>
            <div class="header">
                Your story
            </div>
            Sorry, something went wrong while sending your story
        </div>
    </div>
    <nav id="passportmenu-bottom" class="ui secondary pointing menu blurred">
        <div class="left item social-wrapper">
            <div class="fb-like" data-href="" data-layout="button_count" data-action="like"
            data-show-faces="true" data-share="false"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pl">Tweetnij</a>
        </div>
        <div class="right item">
            <div class="close-button"></div>
        </div>
    </nav>
</div>
<script>
    @if(church != null) {
        $(document).ready(function(){$('fb-like').data('href', '@backLink()');});}
</script>