@(church : Church)
<table class="passport-data-wrapper">
    <tr class="passport-table-gap">
        <td class="passport-field-caption"></td>
        <td class="passport-value"></td>
        <td class="passport-data-filler"></td>
    </tr>
    <tr>
        <td class="passport-field-caption">adres</td>
        <td class="passport-value editable" data-field="address">
            <div class="passport-data-data"></div>
            <div class='passport-value-edit-icon passport-data-help'></div>
            <div class='passport-data-help'>pomóż nam uzupełnić dane</div>
        </td>
        <td class="passport-data-filler"></td>
    </tr>
    <tr>
        <td class="passport-field-caption">daty budowy</td>
        <td class="passport-value editable" data-field="years">
            <div class='passport-value-edit-icon passport-data-help'></div>
            <div class="passport-data-data"></div>
            <div class='passport-data-help'>pomóż nam uzupełnić dane</div>
        </td>
        <td class="passport-data-filler"></td>
    </tr>
    <tr>
        <td class="passport-field-caption">architekci</td>
        <td class="passport-value editable" data-field="architects">
            <div class="passport-data-data"></div>
            <div class='passport-value-edit-icon passport-data-help'></div>
            <div class='passport-data-help'>pomóż nam uzupełnić dane</div>
        </td>
        <td class="passport-data-filler"></td>
    </tr>
    <tr>
        <td class="passport-field-caption">strona www</td>
        <td class="passport-value editable" data-field="website">
            <div class="passport-data-data"></div>
            <div class='passport-value-edit-icon passport-data-help'></div>
            <div class='passport-data-help'>pomóż nam uzupełnić dane</div>
        </td>
        <td class="passport-data-filler"></td>
    </tr>
    <tr class="passport-table-gap">
        <td class="passport-field-caption"></td>
        <td class="passport-value"></td>
        <td class="passport-data-filler"></td>
    </tr>
</table>
