@import utils.ServerProperties
@import models.user.User
@import models.internal.LoginTypeSelect
@(church: Church = null, user: User)
<div id="fb-root"></div>
<script>(function (d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;
    js = d.createElement(s);js.id = id;js.src = '//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.4&appId=@ServerProperties.getValue("facebook.app.id")';
    fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
<script>!function (d, s, id) {var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {js = d.createElement(s);js.id = id;js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="passport">
    <nav id="passportmenu-top" class="ui secondary pointing menu blurred menu-nav menu-nav-top">
        @parts.social_bands(false)
    </nav>
    <div class="passport-title-wrapper church-name"></div>

    @parts.passport.gallery()

    @parts.passport.datatable(null)

    @parts.mediacontent_thumbs()

    <div class="passport-update">
        <div class="ui top attached tabular menu">
            <a class="item active story-menu-item" data-tab="add-story">Dodawanie wspominienia</a>
            <a class="item image-menu-item" data-tab="add-images">Dodawanie zdjęć</a>
        </div>
        <div class="passport-update-message-wrapper">
            @parts.messages("new-story", "Twoje wspomnienie zostało wysłane!")
        </div>
        <div data-tab="add-story" class="ui tab active">
            @parts.forms.new_story_form(user)
        </div>
        <div data-tab="add-images" class="ui tab">
            @parts.forms.images_form(user)
        </div>
    </div>

    <div class="passport-suggest">
        <div class="passport-update-message-wrapper">
            @parts.messages("suggestion", "Twój komentarz został wysłany!")
        </div>
        <div class="gapper-less clearfix"></div>
        @parts.forms.suggest_form()
    </div>

    <nav id="passportmenu-bottom" class="ui secondary pointing menu blurred menu-nav menu-nav-bottom">
        @parts.social_bands(true)
    </nav>

</div>
