@()

<form class="ui form entity-form" data-entity="field" method="POST">
    <input type="hidden" value="" name="extID" id="suggestion-church-id">
    <div class="suggestion-title form-title">Pomóż nam udoskonalić stronę</div>
    <div class="gapper clearfix"></div>
    <div class="col-3 rightaligned inlinemiddle">
        <label for="field-select">Wybierz temat komentarza</label>
    </div>
    <div class="col-3 fullheight">
        <select id="field-select" class="suggestion-field-select" name="field">
            <option value="name" class="suggestion-field">Nazwa kościoła</option>
            <option value="address" class="suggestion-field">Adres</option>
            <option value="years" class="suggestion-field">Daty budowy</option>
            <option value="architects" class="suggestion-field">Architekci</option>
            <option value="website" class="suggestion-field">Strona WWW</option>
            <option value="other" class="suggestion-field">Inny komentarz</option>
        </select>
    </div>
    <div class="col-1"></div>
    <div class="gapper-less clearfix"></div>
    <div class="col-3 rightaligned inlinemiddle">
        <label for="field-value">Twoje uwagi</label>
    </div>
    <div class="col-4 fullheight">
        <textarea class="ui textarea" id="field-value" name="value" placeholder=""></textarea>
    </div>
    <div class="col-1"></div>
    <div class="gapper-less clearfix"></div>
    <div class="col-3"></div>
    <div class="col-3 inlinemiddle">
        <input type="button" value="WYŚLIJ SWÓJ KOMENTARZ" class="entity-submit form-submit">
    </div>
    <div class="col-2"></div>
    <div class="gapper clearfix"></div>
</form>
