.menu input.prompt {
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    /*font-size: 18pt !important;*/
    font-weight: bold !important;
    border: none !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 1em !important;
    width: 248px !important;
    height: 42px;
}

.menu-nav {
    bottom: 0;
    margin: 0 !important;
}

.menu-nav-bottom {
    border-top: 3px solid rgb(236, 236, 236) !important;
    border-bottom: none !important;
    position: relative;
}

.menu-nav-top {
    border-bottom: 3px solid rgb(236, 236, 236) !important;
    border-top: none !important;
    top: 0;
}

.prompt-wrapper {
    margin-right: 24px !important;
    border-bottom: solid 5px black !important;
}

#menu.menu a:not(.result) {
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-size: 18pt !important;
    font-weight: bold !important;
}

#menu.menu.content-menu {
    left: 0;
    top: 0;
    width: 100%;
}

.cleared {
    clear: both;
}

.grayish {
    background-color: #e8e8e8 !important;
}

.white-bordered {
    border: solid white 5px;
}

.grayish-bordered {
    border: solid #e8e8e8 5px;
}

.white {
    background-color: white;
}

.center-more {
    vertical-align: middle;
    text-align: center;
}

.more-wrapper {
    position: relative;
    height: 246px;
    width: 150px;
    display: inline-block;
    top: 50%;
    left: 58px;
    transform: translate(-40%, -50%);
}

.more {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-size: 12pt;
    font-family: Georgia, sans-serif;
    font-style: italic;
}

.thumb-stroke {
    width: 56px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}

.cookie-notification {
    position: fixed !important;
    top:0;
    margin-top:0 !important;
    width: 100%;
    z-index: 9999;

}

div.content-main-guideline {
    width: 981px;
    position: fixed;
    height: 100%;
    border-left: 1px lightseagreen solid;
    pointer-events: none;
    z-index: 5000;
}

div.content-gap-guideline {
    width: 20px;
    height: 100%;
    border-right: 1px aquamarine dashed;
    float: left;
    pointer-events: none;
}

div.content-gap-guideline.last {
    border-right: 1px lightseagreen solid !important;
}

div.content-column-guideline {
    width: 100px;
    height: 100%;
    border-right: 1px aquamarine dashed;
    float: left;
    pointer-events: none;
}

/* custom checkboxes */
form:not(#foo) > div > input[type='radio'],
form:not(#foo) > div > input[type='checkbox'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0;

    float: left;
    width: 26px;
    height: 26px;
    margin-left: -26px;
}

form:not(#foo) > div > input[type='radio'] + label,
form:not(#foo) > div > input[type='checkbox'] + label{

    margin: 0;
    clear: none;

    /* Left padding makes room for image */
    padding: 5px 0 4px 36px;

    /* Make look clickable because they are */
    cursor: pointer;

    background: transparent url(/assets/images/uncheck.png) left center no-repeat;
    /*background: transparent url(off.png) left center no-repeat;*/
}

/*form:not(#foo) > div > input[type='radio']:checked + label {*/
    /*background-image: url(radio.png);*/
/*}*/

form:not(#foo) > div > input[type='checkbox']:checked + label {
    background-image: url(/assets/images/check.png);
}

.form-submit {
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    background-color: #5a38db;
    border: none;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    /*font-weight: bold;*/
}

.passport-update .ui.tabular.menu .item {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
}

.passport-update .ui.tabular.menu .item:not(.active) {
    color: #838383;
}

.passport-update .ui.tab.active {
    background-color: #f2f2f2;
    border: none !important;
    border-radius: 0 !important;
}

.passport-update .ui.tabular.menu {
    border: none !important;
    border-radius: 0 !important;
}

.passport-update .ui.tabular.menu .item.active {
    background-color: #f2f2f2;
    border: none !important;
    border-radius: 0 !important;
}

.story-menu-item {
    display: block !important;
    text-align: right;
    border: none;
    border-radius: 0 !important;
}

.add-story-wrapper-outer {
    height: 128px;
    padding-top: 24px;
}

.add-story-wrapper {
    text-align: center;
    border: 5px #e1e1e1 solid;
    height: 55px;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.passport-update-button {
    color: #5a38db;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    padding: 10px 45px 10px 10px;
}

.passport-update-button-icon {
    /*background: transparent url(/assets/images/add_story_plus.png) center right no-repeat;*/
    /*width: 34px;*/
    /*height: 34px;*/
    padding-left: 50px;
    /*padding-right: 10px;*/
    padding-top: 1px;
}

.passport-update-button-wrapper {
    max-width: 470px;
    text-align: center;
    vertical-align: middle;
    padding-top: 32px;
    border: #e1e1e1 5px solid;
    margin: 32px auto;
    cursor: pointer;
}

.passport-update-button-wrapper:hover {
    background-color: #5a38db;
    border-color: #d0b165;
}

.passport-update-button-wrapper:hover td {
    color: white;
}

.church-stories {
    /*max-height: 700px;*/
    width: 980px;
}

.passport-stories-title {
    max-width: 300px;
    text-align: center;
    margin: 44px auto 36px;
    /*font-family: Arial, "Helvetica", "Helvetica Neue Light", sans-serif;*/
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1em;
}

.ui.form label:not(.upload-confirmation-label),
.new-church-form label,
.feedback-form label,
.passport-suggest label
{
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

/*.passport-update div .ui.form input[type=text],*/
/*.passport-update div .ui.form textarea,*/
/*#new_church_form input[type=text],*/
/*.passport-suggest input[type=text],*/
/*.passport-suggest select{*/
.ui.form input[type=text],.ui.form textarea, .ui.form select{
    border: none !important;
    border-radius: initial !important;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif !important;
    font-size: 12px;
}

.passport-update div .ui.form input, .ui.form div input{
    height: 44px;
}

div.col-1
{
    float: left;
    width: 100px;
    margin-left: 20px;
    height: 44px;
}

div.col-2
{
    float: left;
    width: 220px;
    margin-left: 20px;
    height: 44px;
}

div.col-3
{
    float: left;
    width: 340px;
    margin-left: 20px;
    height: 44px;
}

div.col-4
{
    float: left;
    width: 460px;
    margin-left: 20px;
    height: 44px;
}

div.rightaligned
{
    text-align: right;
}

div.inlinemiddle
{
    line-height: 44px;
}

div.fullheight
{
    height: 100%;
}

div.gapper
{
    width:100%;
    height: 60px;
}

div.gapper-less
{
    width:100%;
    height:20px;
}

.clearfix
{
    clear: both;
}

.asd-fb-login-button
{
    background: white url(/assets/images/fb_login_button.png) center center no-repeat;
    height: 44px;
    width: 36px;
    margin-right: 2px;
    float: left;
}

.social-login-invite
{
    width: 182px;
    float: left;
}

.form-title {
    font-size: 24px;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
