.close-button {
    background: url(/assets/images/close_button.png) center center no-repeat;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.right.item .close-button
{
    margin-right: 16px;
}

.passport-wrapper {
    width: 980px !important;
    margin-left: -490px !important;
}

#passport {
    min-height: 344px;
    width: 980px;
}

#passportmenu-top .item, #passportmenu-bottom .item {
    height: 55px;
}

#passportmenu-bottom {
    bottom: 0;
    border-top: 3px solid rgb(236, 236, 236);
    border-bottom: none !important;
    margin: 0 !important;
}

#passportmenu-top {
    bottom: 0;
    border-bottom: 3px solid rgb(236, 236, 236) !important;
    /*border-bottom: 2px solid transparent !important;*/
    margin: 0 !important;
}

#passportmenu-top {
    top: 0;
}

.alarm-sign {
    height: 34px;
    width: 34px;
    /*background: black center center no-repeat;*/
    background: black url(/assets/images/alarm_sign.png) center center no-repeat;
    margin-left: 10px;
    cursor: pointer;
}

.passport-title-wrapper {
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-size: 38px;
    font-weight: bold;
    height: 100%;
    max-width: 700px;
    text-align: center;
    vertical-align: middle;
    margin: 40px auto 28px;

}

.passport-value-edit-icon {
    height: 16px;
    width: 16px;
    background: url(/assets/images/add_data_passport.png) center center no-repeat;
    margin-right: 10px;
    cursor: pointer;
    float: left;
}

.passport-value-save-icon {
    height: 16px;
    width: 16px;
    background: url(/assets/images/arrow_selector_menu_golden.png) center center no-repeat;
    margin-left: 10px;
    cursor: pointer;
    float: left;
}

.church-years-input {
    width: 3em;
}

.passport-table-gap {
    height: 32px;
}

.passport-data-edit {
    background: transparent;
    border: none;
}

.passport-data-help {
    float: left;
    color: #949494;
    cursor: pointer;
}

.passport-data-data {
    float: left;
    line-height: 1.3em;
}

.passport-data-data a {
    color: #5a38db;
}

.passport-edit-text {
    text-transform: uppercase;
    white-space: nowrap;
    color: #d1d1d1;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 7px;
    padding-left: 44px;
}

.passport-edit-button {
    position: absolute;
    z-index: 50;
    /*min-width:300px;*/
    margin-top: -38px;
    vertical-align: middle;
    cursor: pointer;
}

.passport-gallery {
    width: 980px;
    /*max-width: 960px;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.passport-gallery::after {
    clear: both;
}

.passport-current-image {
    width: 860px;
    max-width: 860px;
    max-height: 100%;
    height: 480px;
    float: left;
}

.passport-gallery-gsv {
    float: right;
    height: 80px;
    width: 120px;
}

.passport-gallery-thumbs {
    float: right;
    height: 400px;
    overflow-y: hidden;
    position: relative;
}

.passport-gallery-controls {
    right: 0;
    height: 400px;
    position: absolute;
    top: 80px;
}

.passport-gallery-control {
    height: 80px;
    width: 120px;
}

.passport-gallery-control.passthrough {
    pointer-events: none;
}

.passport-gallery-control.medium-fill {
    /*background-color: rgba(0,0,0,0.5);*/
}

.passport-gallery-control.bubble-event-control {
    cursor: pointer;
}

.gallery-thumb-arrow-down-overlay {
    position: absolute;
    top: 320px;
    background: url(/assets/images/gallery_thumb_down.png) center center no-repeat;
    pointer-events: none;
}

.gallery-thumb-arrow-up-overlay {
    position: absolute;
    top: 0;
    background: url(/assets/images/gallery_thumb_up.png) center center no-repeat;
    pointer-events: none;
}

.gallery-thumb-arrow-up {
    cursor: pointer;
    opacity: 0.5;
    background: black;
}

.gallery-thumb-arrow-down {
    cursor: pointer;
    opacity: 0.5;
    background: black;
}


.passport-thumb-image {
    width: 120px;
    height: 80px;
    cursor: pointer;
}

/*.passport-thumb-image.active:not(.gsv) {*/
    /*border: 5px white solid;*/
/*}*/

.passport-thumb-image.active {
    border: 5px white solid;
}

.passport-thumb-image.hover.gsv:not(.inactive) {
    background: transparent url(/assets/images/passport/gsv_thumb_hover.png) center center no-repeat;
}

.passport-thumb-image.inactive.gsv {
    background: transparent url(/assets/images/passport/gsv_thumb_inactive.png) center center no-repeat;
}

.passport-thumb-image.gsv {
    background: transparent url(/assets/images/passport/gsv_thumb.png) center center no-repeat;
}

.passport-gallery-large-image {
 height: 100%;
}

.passport-gallery-large-description {
    height: 20px;
    position: relative;
    top: -20px;
    width: 100%;
    background-color: rgba(242,242,242,0.6);
}

.passport-gallery-large-description-content {
    margin-left: 20px;
    line-height: 1.5em;
}

.passport-data-wrapper {
    width: 100%;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
}

.passport-data-actions {
    display: inline-block;
}

td.passport-field-caption {
    background-color: #e8e8e8;
    color: #949494;
    width: 360px;
    text-align: right;
    text-transform: uppercase;
    font-size: 9pt;
    padding-bottom: 10px;
    padding-top: 11px;
    padding-right: 20px;
    letter-spacing: 1px;
    vertical-align: top;
}

td.passport-value {
    background-color: #f2f2f2;
    width: 360px;
    text-align: left;
    font-size: 14px;
    padding-bottom: 11px;
    padding-top: 7px;
    padding-left: 20px;
}

td.passport-data-filler {
    width: 260px;
    background-color: #f2f2f2;
}

.passport-edit-value {
    color: #9d9c9c;
}

.add-story-wrapper-outer {
    height: 128px;
    padding-top: 24px;
}

.add-story-wrapper {
    text-align: center;
    border: 5px #e1e1e1 solid;
    height: 55px;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.passport-update {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.passport-update-button {
    color: #5a38db;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    padding: 10px 45px 10px 10px;
}

.passport-update-button-icon {
    /*background: transparent url(/assets/images/add_story_plus.png) center right no-repeat;*/
    /*width: 34px;*/
    /*height: 34px;*/
    padding-left: 50px;
    /*padding-right: 10px;*/
    padding-top: 1px;
}

.passport-update-button-wrapper {
    max-width: 470px;
    text-align: center;
    vertical-align: middle;
    padding-top: 32px;
    border: #e1e1e1 5px solid;
    margin: 32px auto;
    cursor: pointer;
}

.passport-update-button-wrapper.hover {
    background-color: #5a38db;
    border-color: #d0b165;
}

.passport-update-button-wrapper.hover td{
    color: white;
}
.church-stories
{
    max-height: 700px;
    width: 980px;
}

.passport-stories-title {
    max-width: 300px;
    text-align: center;
    margin: 44px auto 36px;
    /*font-family: Arial, "Helvetica", "Helvetica Neue Light", sans-serif;*/
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.ui.message.pointy {
    cursor: pointer;
}

.social-login {
    cursor: pointer;
}

.ui.modal {
    z-index: 1010 !important;
}

.ui.dimmer {
    z-index: 1009 !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.new-story-cover {
    float: left;
}

.new-story-cover.active {
    border: solid #5a38db 1px;
}

.passport-update input::-webkit-input-placeholder,.passport-update textarea::-webkit-input-placeholder
{
    color: #D4D4D4 !important;
}

.passport-update input:-moz-placeholder,.passport-update textarea:-moz-placeholder { /* Firefox 18- */
    color: #D4D4D4 !important;
}

.passport-update input::-moz-placeholder,.passport-update textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #D4D4D4 !important;
}

.passport-update input:-ms-input-placeholder,.passport-update textarea:-ms-input-placeholder {
    color: #D4D4D4 !important;
}

.form-button
{
    border: none !important;
    border-radius: initial !important;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    background: white;
    height: 44px;
    /*width: 100%;*/
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    color: #486399;
    text-transform: uppercase;
    font-weight: bold;
}

.not-you-button {
    width:100%;
}

.story-submit {
    height: 56px !important;
    font-size: 18px;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
}