.left-admin-menu
{
    position: fixed;
    left:0;
    top: 36%;
    z-index:1000;
}

.right-admin-menu
{
    position: fixed !important;
    right:0;
    top: 65px;
    /*max-height: 500px;*/
    z-index:1000;
}

.skipped-top
{
    margin-top: 60px !important;
}

#articles tr, #stories tr, #churches tr
{
    cursor: pointer;
}

body
{
    height: auto;
}

.fullwidth
{
    width: 100%;
}

.article-text textarea
{
    max-height: 75vh !important;
    height: 450px !important;
}

span.editor-tool
{
    padding: 2px;
    cursor: pointer;
}

#lead, #desc
{
    height: 8em;
}

.fm-item
{
    max-width: 300px;
}

.fm-items
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}