#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.active.golden.item {
    color: #d0b165 !important;
    border-color: #d0b165 !important;
    fill: #d0b165 !important;
}

.blurred {
    background: rgba(255, 255, 255, 1) !important;
}

/* flex hack*/
.menu .search.item {
    /*-ms-flex-item-align-self: center !important;*/
    /*-ms-flex-align: center !important;*/
    /*align-self: center !important;*/
    /*-webkit-align-self: center !important;*/
}


#wrapper {
    width: 100%;
}

#links {
    padding: 0;
}

#links .item {
    margin-left: 17px;
    margin-right: 17px;
    padding-bottom: 10px;
    border-bottom-width: 5px;
    letter-spacing: 1px;
}

#menu {
    border-bottom-width: 1px;
    z-index: 1001;
    height: 60px;
    margin: 0;
    padding: 0;
}

.logo-wrapper {
    vertical-align: middle;
    padding-top: 5px !important;
    height: 100%;
}

.logo-wrapper-more {
    vertical-align: middle;
    height: 100%;
}

a.logo {
    margin-left: 20px !important;
}

#slide1 {
    border: solid 10px;
}

.ui.secondary.pointing.menu .item {
    margin: 0;
    border-bottom-width: 0;
    padding: 0;
    /*align-self: center !important;*/
    /*-webkit-align-self: center !important;*/
}

div.holder-border {
    border-bottom: solid black 4px;
}

.violet {
    color: #5a38db;
    border-color: #5a38db;
    fill: #5a38db;
    background-color: #5a38db;
}

.golden:not(.item) {
    background-color: #d0b165 !important;
}

.black {
    color: black;
}

.slide {
    min-height: 100vh;
    width: 100%;
    transition: opacity 1s ease;
    position: relative;
}

.slide-transition {
    position: absolute;
    width: 128px;
    height: 36px;
    top:-36px;
    text-align: center;
    cursor: pointer;
    z-index: 30;
}

#to-slide2 {
    background: white url(../images/arrow_down_bw_slides_23.png) center center no-repeat;
}

#to-slide3 {
    background: #e8e8e8 url(../images/arrow_down_bw_slides_23.png) center center no-repeat;
}

#to-slide4 {
    background: #5a38db url(../images/arrow_down_bw_slides_4.png) center center no-repeat;
}

.padder {
    padding-bottom: 46px;
}

#about {
    cursor: pointer;
}

#about .arrow-right {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
}

#about .about-header {
    font-family: "Helvetica", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-size: 26pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 10px 10px;
}

#about .about-more {
    font-family: Georgia, sans-serif;
    font-size: 11pt;
    font-style: italic;
}

#about .shameful-underline {
    background-color: black;
    margin-top: 25px;
    width: 12.5%;
    /*height : 2px;*/
}

#about .hidden {
    display: none;
}

#about .about-shrunk-content {
    position: absolute;
    right: 22px;
    bottom: 27px;
    font-family: "Helvetica", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    transform-origin: right;
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.menu .shameful-underline {
    background-color: black;
}

#slide1 {
    background-color: darkgray;
}

#slide2 {
    padding-top: 80px;
}

#slide3 {
    background-color: #e8e8e8;
    padding-top: 70px;
}

#slide4 {
    background-color: #5a38db;
    padding-top: 100px;
}
