.form-title {
    font-size: 24px;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    /*text-align: center;*/
    font-weight: bold;
    margin-top: 20px;
}

.form-button {
    border: none !important;
    border-radius: initial !important;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    background: white;
    height: 44px;
    /*width: 100%;*/
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    color: #486399;
    text-transform: uppercase;
    font-weight: bold;
}

.not-you-button {
    width: 100%;
}

.entity-submit {
    height: 56px !important;
    font-size: 18px;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
}

.ui.form input[type=text],.ui.form textarea, .ui.form select{
    border: none;
    /*border: none !important;*/
    border-radius: 0 !important;
    /*font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif !important;*/
    /*font-size: 12px;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}

.ui.form input[type=text], .ui.form select {
    height: 44px !important;
}

/*.passport-update div .ui.form input, .ui.form div input{*/
    /*height: 44px;*/
/*}*/

.passport-update input::-webkit-input-placeholder, .passport-update textarea::-webkit-input-placeholder {
    color: #D4D4D4 !important;
}

.passport-update input:-moz-placeholder, .passport-update textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #D4D4D4 !important;
}

.passport-update input::-moz-placeholder, .passport-update textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #D4D4D4 !important;
}

.passport-update input:-ms-input-placeholder, .passport-update textarea:-ms-input-placeholder {
    color: #D4D4D4 !important;
}

label.not-filled {
    color: #fabdbd !important;
}



.required.not-filled {
    border: 2px solid #fabdbd !important;
}

.required.not-filled::-webkit-input-placeholder {
    color: #fabdbd !important;
}

.required.not-filled:-moz-placeholder {
    color: #fabdbd !important;
}

.required.not-filled::-moz-placeholder {
    color: #fabdbd !important;
}

.required.not-filled:-ms-input-placeholder {
    color: #fabdbd !important;
}


/* custom checkboxes */
form:not(#foo) > div > input[type='radio'],
form:not(#foo) > div > input[type='checkbox'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0;

    float: left;
    width: 26px;
    height: 26px;
    margin-left: -26px;
}

form:not(#foo) > div > input[type='checkbox'].required.not-filled + label{
    background-image: url(/assets/images/uncheck_required.png);
}

form:not(#foo) > div > input[type='radio'] + label,
form:not(#foo) > div > input[type='checkbox'] + label{

    margin: 0;
    clear: none;

    /* Left padding makes room for image */
    padding: 5px 0 4px 36px;

    /* Make look clickable because they are */
    cursor: pointer;

    background: transparent url(/assets/images/uncheck.png) left 10% no-repeat;
    /*background: transparent url(off.png) left center no-repeat;*/
}

/*form:not(#foo) > div > input[type='radio']:checked + label {*/
/*background-image: url(radio.png);*/
/*}*/

form:not(#foo) > div > input[type='checkbox']:checked + label {
    background-image: url(/assets/images/check.png);
}

label.btn-file {
    margin: 0 !important;
    padding: 0 !important;
    height: 44px;
    width: 47px;
    border: 0 !important;
}

label.btn-file i.asd-photo.icon{
    margin: 0 !important;
    padding: 0 !important;
    height: 44px;
    width: 47px;
    background: url(/assets/images/photo_icon.png);
    cursor: pointer;
}

label.btn-file i.asd-photo.icon:hover{
    background: url(/assets/images/photo_icon_hv.png);
}