.content-header-center {
    position: relative;
    top: 25%;
}

.content-cover-image {
    height: 500px;
    max-height: 500px;
    /*max-width: 960px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    /* these two options are inserted in head */
    /*background: url(../images/44_cover.jpg) center;*/
    /*background-size: cover;*/
}

.content-title {
    position: relative;
    color: white;
    max-width: 960px;
    line-height: 1em;
    font-size: 31pt;
    font-weight: bold;
    font-family: "Helvetica", "Helvetica Neue Light", sans-serif;
    text-align: center;
}

/*.content-header.menu {*/
/*background-color : #ececec !important;*/
/*border: none !important;*/
/*height: 34px !important;*/
/*margin-top: 0 !important;*/
/*}*/

.content-header-wrapper {
    background-color: #ececec !important;
    border: none !important;
    height: 34px !important;
    margin-top: 0 !important;
}

.content-header-date {
    margin-left: 20px;
    /*margin-right: 4.6875%;*/
    color: #b5b5b5 !important;
    /*font-family: "Helvetica", "Helvetica Neue Light", sans-serif;*/
    font-size: 8pt;
    float: left;
}

.content-header-authors-wrapper {
    margin-left: 115px;
}

.content-header-authors {
    /*font-family: "Helvetica", "Helvetica Neue Light", sans-serif;*/
    font-size: 8pt;
    text-transform: uppercase !important;
    margin-left: 25px;
    float: left;
}

.content-header-social-wrapper div {
    float: right;
    margin-right: 20px;
}

.content-lead-wrapper {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.content-lead {
    margin-top: 3em;
    color: #d0b165;
    font-family: "Helvetica", "Helvetica Neue Light", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 11pt;
    line-height: 1.7em;
    letter-spacing: 0.3px;
    width: 460px;
    margin-left: 260px;
    margin-right: 260px;

}

.content-main {
    font-size: 11pt;
    width: 580px;
    margin-left: 140px;
    margin-right: 260px;
}

.content-main-wrapper {
    font-family: "Helvetica", "Helvetica Neue Light", Arial, sans-serif;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

div.content-padder {
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #ececec;
    height: 3px;
    width: 100%;
}

.content-main h2, .content-main h1 {
    font-family: Arial, "Helvetica", "Helvetica Neue Light", sans-serif !important;
    /*margin-left: 140px;*/
    margin-bottom: 0;
    margin-top: 0;
    /*margin-bottom: 50px;*/
    /*margin-top: 50px;*/
}

div.content-excerpt {
    width: 380px;
    margin-left: 120px;
    /*margin-left: 240px;*/
    /*margin-right: 360px;*/
    margin-right: 480px;
    font-family: Georgia, serif !important;
    font-size: 26pt !important;
    font-style: italic;
    color: #a0a0a0;
    text-align: center;
    line-height: 1.1em;
}

.content-quote-symbol:not(.content-quote-second) {
    margin-top: 0;
    /*margin-top: 50px;*/
}

.content-quote:not(.content-quote-second),
{
    margin-top: 0;
    /*margin-top: 50px;*/
}

.content-quote {
    width: 460px;
    margin-left: 100px;
    margin-right: 260px;
    font-family: Georgia, serif;
    font-size: 26pt;
    font-style: italic;
    color: #a0a0a0;
    text-align: left;
    line-height: 1.1em;
    /*margin-bottom: 1em;*/
}

.content-quote i {
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24pt;
    margin-bottom: 50px;
}

div.content-quote-wrapper {
    width: 100%;
    /*margin-top: 50px;*/
}

div.content-quote-symbol {
    margin-left: -20px;
    font-family: Georgia, serif !important;
    font-size: 78pt !important;
    font-style: italic;
    color: #d0b165;
    margin-top: -18px;
    letter-spacing: -6px;
    margin-right: 20px;
    text-align: right;
    width: 100px;
}

.content-underline {
    width: 56px;
    margin-bottom: 0;
    /*margin-bottom: 50px;*/
    margin-top: 25px !important;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}

div.full-width {
    /*margin-bottom: 50px;*/
    /*margin-top: 50px;*/
    width: 100%;
}

.content-image-caption {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 8pt;
    color: #a8a8a8;
    margin-top: 4px;
}

img.full-width {
    width: 100%;
    max-width: 1800px;
}

/*img.ui.image {*/
/*margin-top: 50px;*/
/*margin-bottom: 50px;*/
/*}*/

.fit-main-text {
    width: 580px;
    margin-left: 140px;
    margin-right: 260px;
}

/* center ??? */
.fit-main-text-plus {
    width: 700px;
    margin-left: 140px;
    margin-right: 140px;
}

.content-afterwords {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: 580px;
    margin-left: 140px;
    margin-right: 260px;
    color: #a8a8a8 !important;
    line-height: 1.6em;
}

/*.content-afterwords-style {*/
/*color: #a8a8a8 !important;*/
/*line-height: 1.6em;*/
/*/!*float: left;*!/*/
/*}*/

.content-afterwords b {
    line-height: 1.6em;
    color: #d0b165;
    font-size: 8pt;
    text-transform: uppercase;
    float: left;
    margin-right: 4px;
    margin-top: 3px;
}

div.content-afterwords-wrapper {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.content-grey {
    background-color: #f7f8f8;
}

.content-main ol {
    margin-left: 140px;
    width: 580px;
    font-style: italic;
}

.biblink {
    color: inherit;
}

div.gap {
    width: 100%;
}

div.content-main-guideline {
    width: 981px;
    position: fixed;
    height: 100vh;
    border-left: 1px lightseagreen solid;
}

div.content-gap-guideline {
    width: 20px;
    height: 100vh;
    border-right: 1px aquamarine dashed;
    float: left;
}

div.content-gap-guideline.last {
    border-right: 1px lightseagreen solid !important;
}

div.content-column-guideline {
    width: 100px;
    height: 100vh;
    border-right: 1px aquamarine dashed;
    float: left;
}