.menu input.prompt {
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    /*font-size: 18pt !important;*/
    font-weight: bold !important;
    border: none !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 1em !important;
    width: 248px !important;
    height: 42px;
}

.menu-nav {
    bottom: 0;
    margin: 0 !important;
}

.menu-nav-bottom {
    border-top: 3px solid rgb(236, 236, 236) !important;
    border-bottom: none !important;
    position: relative;
}

.menu-nav-top {
    border-bottom: 3px solid rgb(236, 236, 236) !important;
    border-top: none !important;
    top: 0;
}

.prompt-wrapper {
    margin-right: 24px !important;
    border-bottom: solid 5px black !important;
    margin-bottom: -1px !important;
}

#menu.menu .results {
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif !important;
    border-radius: 0 !important;
}

.ui.search>.results>.action {
    text-align: left !important;
    font-size: 11pt !important;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif !important;
}

#menu.menu a:not(.result) {
    font-size: 18pt;
    font-weight: bold !important;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif !important;
}

#menu.menu {
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif !important;
    font-size: 11pt !important;
    font-weight: bold !important;
}

#menu.menu.content-menu {
    left: 0;
    top: 0;
    width: 100%;
}

.cleared {
    clear: both;
}

.grayish {
    background-color: #e8e8e8 !important;
}

.white-bordered {
    border: solid white 5px;
}

.grayish-bordered {
    border: solid #e8e8e8 5px;
}

.white {
    background-color: white;
}

.center-more {
    vertical-align: middle;
    text-align: center;
}

.more-wrapper {
    position: relative;
    height: 246px;
    width: 150px;
    display: inline-block;
    top: 50%;
    left: 58px;
    transform: translate(-40%, -50%);
}

.more {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: Georgia, sans-serif;
    font-style: italic;
}

.thumb-stroke {
    width: 56px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}

.cookie-notification {
    position: fixed !important;
    top:0;
    margin-top:0 !important;
    width: 100%;
    z-index: 9999;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif !important;;
    color: #000 !important;;
    background-color: white !important;;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    min-height: 80px;
    max-height: 300px;
    padding-top:20px !important;
    padding-bottom:20px !important;
}

.cookie-notification a {
    color: #000 !important;
    text-decoration: none;
}

.cookie-notification a:hover {
    text-decoration: underline;
}

div.content-main-guideline {
    width: 982px;
    position: fixed;
    height: 100%;
    border-left: 1px lightseagreen solid;
    pointer-events: none;
    z-index: 5000;
}

div.content-gap-guideline {
    width: 20px;
    height: 100%;
    border-right: 1px aquamarine dashed;
    float: left;
    pointer-events: none;
}

div.content-gap-guideline.last {
    border-right: 1px lightseagreen solid !important;
}

div.content-column-guideline {
    width: 100px;
    height: 100%;
    border-right: 1px aquamarine dashed;
    float: left;
    pointer-events: none;
}

.form-submit {
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    background-color: #5a38db;
    border: none;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    /*font-weight: bold;*/
}

.form-submit:hover {
    background-color: #d2b25d;
}

.passport-update .ui.tabular.menu .item {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
}

.passport-update .ui.tabular.menu .item:not(.active) {
    color: #838383;
}

.passport-update .ui.tab.active {
    background-color: #f2f2f2;
    border: none !important;
    border-radius: 0 !important;
}

.passport-update .ui.tabular.menu {
    border: none !important;
    border-radius: 0 !important;
}

.passport-update .ui.tabular.menu .item.active {
    background-color: #f2f2f2;
    border: none !important;
    border-radius: 0 !important;
}

.story-menu-item {
    display: block !important;
    text-align: right;
    border: none;
    border-radius: 0 !important;
}

.add-story-wrapper-outer {
    height: 128px;
    padding-top: 24px;
}

.add-story-wrapper {
    text-align: center;
    border: 5px #e1e1e1 solid;
    height: 55px;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.passport-update-button {
    color: #5a38db;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    padding: 10px 45px 10px 10px;
}

.passport-update-button-icon {
    /*background: transparent url(/assets/images/add_story_plus.png) center right no-repeat;*/
    /*width: 34px;*/
    /*height: 34px;*/
    padding-left: 50px;
    /*padding-right: 10px;*/
    padding-top: 1px;
}

.passport-update-button-wrapper {
    max-width: 470px;
    text-align: center;
    vertical-align: middle;
    padding-top: 32px;
    border: #e1e1e1 5px solid;
    margin: 32px auto;
    cursor: pointer;
}

.passport-update-button-wrapper:hover {
    background-color: #5a38db;
    border-color: #d0b165;
}

.passport-update-button-wrapper:hover td {
    color: white;
}

.church-stories {
    /*max-height: 700px;*/
    width: 980px;
}

.passport-stories-title {
    max-width: 300px;
    text-align: center;
    margin: 44px auto 36px;
    /*font-family: Arial, "Helvetica", "Helvetica Neue Light", sans-serif;*/
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1em;
}

.ui.form label:not(.upload-confirmation-label),
.new-church-form label,
.feedback-form label,
.passport-suggest label
{
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}


div.col-1
{
    float: left;
    width: 100px;
    margin-left: 20px;
    height: 44px;
}

div.col-2
{
    float: left;
    width: 220px;
    margin-left: 20px;
    height: 44px;
}

div.col-3
{
    float: left;
    width: 340px;
    margin-left: 20px;
    height: 44px;
}

div.col-4
{
    float: left;
    width: 460px;
    margin-left: 20px;
    height: 44px;
}

div.rightaligned
{
    text-align: right;
}

div.leftaligned
{
    text-align: left;
}

div.inlinemiddle
{
    line-height: 44px;
}

div.fullheight
{
    height: 100%;
}

div.gapper
{
    width:100%;
    height: 60px;
}

div.gapper-less
{
    width:100%;
    height:20px;
}

.clearfix
{
    clear: both;
}

.asd-fb-login-button
{
    background: white url(/assets/images/fb_login_button.png) center center no-repeat;
    height: 44px;
    width: 36px;
    margin-right: 2px;
    float: left;
}

.social-login-invite
{
    width: 182px;
    float: left;
}

.passport-table-gap {
    height: 32px;
}

.passport-data-wrapper {
    width: 100%;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
}

.passport-data-actions {
    display: inline-block;
}

td.passport-field-caption {
    background-color: #e8e8e8;
    color: #949494;
    width: 360px;
    text-align: right;
    text-transform: uppercase;
    font-size: 9pt;
    padding-bottom: 10px;
    padding-top: 11px;
    padding-right: 20px;
    letter-spacing: 1px;
    vertical-align: top;
}

td.passport-value {
    background-color: #f2f2f2;
    width: 360px;
    text-align: left;
    font-size: 14px;
    padding-bottom: 11px;
    padding-top: 7px;
    padding-left: 20px;
}

td.passport-data-filler {
    width: 260px;
    background-color: #f2f2f2;
}

.passport-data-edit {
    background: transparent;
    border: none;
}

.passport-data-help {
    float: left;
    color: #949494;
    cursor: pointer;
}

.passport-data-data {
    float: left;
    line-height: 1.3em;
}

.passport-data-data a {
    color: #5a38db;
}

.passport-edit-text {
    text-transform: uppercase;
    white-space: nowrap;
    color: #d1d1d1;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 7px;
    padding-left: 44px;
}

.passport-edit-button {
    position: absolute;
    z-index: 50;
    /*min-width:300px;*/
    margin-top: -38px;
    vertical-align: middle;
    cursor: pointer;
}

.passport-edit-value {
    color: #9d9c9c;
}

.passport-update {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.cancel-button {
    height: 56px !important;
    /*width: 150px;*/
    width: 100%;

    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    text-transform: uppercase;

    border: 5px solid #d5d5d5;
    background-color: white;
    color: #a8a8a8;
}

.report-mistakes-wrapper {
    margin-left: -140px !important;
    width: 360px;
    cursor: pointer;
}

.report-mistakes-button {
    color: #d1d1d1;
    background-color: white;

    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    text-transform: uppercase;

    float: left;
    margin-left: 20px;
}

.report-mistakes-alarm {
    background: transparent url(/assets/images/report_button.png) center center no-repeat;
    height: 34px;
    width: 34px;
}

/*#passportmenu-top .item, #passportmenu-bottom .item {*/
    /*height: 55px;*/
/*}*/

.menu-nav .item{
    height: 55px;
}

.prompt::-webkit-input-placeholder {
    color: black !important;
}

.prompt:-moz-placeholder {
    /* Firefox 18- */
    color: black !important;
}

.prompt::-moz-placeholder {
    /* Firefox 19+ */
    color: black !important;
}

.prompt:-ms-input-placeholder {
    color: black !important;
}
