.content-header-center {
    position: relative;
    top: 25%;
}

.content-cover-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    position: relative;
}

.content-cover-image-article {
    height: 500px;
    max-height: 500px;
    background-size: cover;
    background-position: center center;
}

.content-cover-image-story {
    height: 265px;
    max-height: 265px;
    background: #5938da no-repeat center 25%;
}

.content-cover-image-article .content-cover-image-overlay {
    height: 100%;
    width: 100%;
    background: transparent url(/assets/images/article_cover_overlay.png) center;
    position: absolute;
    opacity: 0.5;
}

.content-title {
    position: relative;
    color: white;
    max-width: 960px;
    line-height: 1em;
    font-size: 31pt;
    font-weight: bold;
    font-family: "Helvetica", "Helvetica Neue Light", Arial, sans-serif;
    text-align: center;
}

/*.content-header.menu {*/
/*background-color : #ececec !important;*/
/*border: none !important;*/
/*height: 34px !important;*/
/*margin-top: 0 !important;*/
/*}*/

.content-header-wrapper {
    background-color: #ececec !important;
    border: none !important;
    height: 34px !important;
    margin-top: 0 !important;
}

.content-header-wrapper.media-content-story {
    margin-bottom: 60px;
}

.mediacontent-church-data.media-content-story {
    margin-top: 70px;
}

.bordered-upper-gap {
    border-top: 3px solid rgb(236, 236, 236);
    margin-bottom: 18px;
}

.bordered-bottom-gap {
    border-bottom: 3px solid rgb(236, 236, 236);
    margin-top: 35px;
}

.media-bottom-gap {
    /*height: 75px;*/
    margin-bottom: 12px;
}

.media-bottom-gap .content-main-wrapper{
    margin-top: 58px;
}

.media-prethumbs-gap {
    height: 50px;
}

.media-bottom-link1
{
    float: right;
    margin-right: 20px;
}

.media-bottom-link2
{
    float: right;
    margin-right: 45px;
}

.mediacontent-bottom-text, .mediacontent-bottom-text a {
    font-family: "Helvetica", "Helvetica Neue Light", Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #bcbcbc;
}

.mediacontent-bottom-fb-button {
    height: 20px;
    background: transparent url("/assets/images/mc_bottom_fb_button.png") top right no-repeat;
    padding-right: 32px;
}

.content-header-date {
    margin-left: 20px;
    /*margin-right: 4.6875%;*/
    color: #b5b5b5 !important;
    /*font-family: "Helvetica", "Helvetica Neue Light", sans-serif;*/
    font-size: 12px;
    float: left;
}

.content-header-authors-wrapper {
    margin-left: 115px;
}

.content-header-authors {
    /*font-family: "Helvetica", "Helvetica Neue Light", sans-serif;*/
    font-size: 12px;
    text-transform: uppercase !important;
    margin-left: 25px;
    float: left;
}

.content-header-social-wrapper div {
    float: right;
    margin-right: 20px;
}

.content-lead-wrapper {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.content-lead {
    margin-top: 3em;
    color: #d0b165;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.7em;
    letter-spacing: 0.3px;
    width: 460px;
    margin-left: 260px;
    margin-right: 260px;

}

.content-main {
    font-size: 14px;
    line-height: 24px;
    width: 580px;
    margin-left: 140px;
    margin-right: 260px;
}

.content-main-wrapper {
    font-family: "Helvetica", "Helvetica Neue Light", Arial, sans-serif;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

div.content-padder {
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #ececec;
    height: 3px;
    width: 100%;
}

.content-main h2,.content-main h1 {
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif !important;
    margin-bottom: 0;
    margin-top: 0;
}
.content-main h1 {
    font-size: 24px;
}

div.content-excerpt {
    width: 380px;
    margin-left: 120px;
    /*margin-left: 240px;*/
    /*margin-right: 360px;*/
    margin-right: 480px;
    font-family: Georgia, serif !important;
    font-size: 35px !important;
    font-style: italic;
    color: #a0a0a0;
    text-align: center;
    line-height: 1.1em;
}

.content-quote-symbol:not(.content-quote-second) {
    margin-top: 0;
    /*margin-top: 50px;*/
}

.content-quote:not(.content-quote-second),
{
    margin-top: 0;
    /*margin-top: 50px;*/
}

.content-quote {
    width: 460px;
    margin-left: 100px;
    margin-right: 260px;
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: italic;
    color: #a0a0a0;
    text-align: left;
    line-height: 1.1em;
    /*margin-bottom: 1em;*/
}

.content-quote i {
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 50px;
}

div.content-quote-wrapper {
    width: 100%;
    /*margin-top: 50px;*/
}

div.content-quote-symbol {
    margin-left: -20px;
    font-family: Georgia, serif !important;
    font-size: 78pt !important;
    font-style: italic;
    color: #d0b165;
    margin-top: -18px;
    letter-spacing: -6px;
    margin-right: 20px;
    text-align: right;
    width: 100px;
}

.content-underline {
    width: 56px;
    margin-bottom: 0;
    /*margin-bottom: 50px;*/
    margin-top: 25px !important;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}

div.full-width {
    /*margin-bottom: 50px;*/
    /*margin-top: 50px;*/
    width: 100%;
}

.content-image-caption {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 8pt;
    color: #a8a8a8;
    margin-top: 4px;
    height: 16px;
}

img.full-width {
    width: 100%;
    max-width: 1800px;
}

/*img.ui.image {*/
/*margin-top: 50px;*/
/*margin-bottom: 50px;*/
/*}*/

.fit-main-text {
    width: 580px;
    margin-left: 140px;
    margin-right: 260px;
}

/* center ??? */
.fit-main-text-plus {
    width: 700px;
    margin-left: 140px;
    margin-right: 140px;
}

.content-afterwords {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: 580px;
    margin-left: 140px;
    margin-right: 260px;
    color: #a8a8a8 !important;
    line-height: 1.6em;

    font-size: 14px;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight:200;
}

.content-afterwords b {
    line-height: 1.6em;
    color: #d0b165;
    text-transform: uppercase;
    float: left;
    margin-right: 4px;
    margin-top: 3px;
    font-size: 10px;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-weight: 100;
}

div.content-afterwords-wrapper {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.content-grey {
    background-color: #f7f8f8;
}

.content-main ol {
    /*margin-left: 140px;*/
    width: 580px;
    font-style: italic;
}

.biblink {
    color: inherit;
}

div.gap {
    width: 100%;
}

#contentmenu-bottom {
    bottom: 0;
    /*border-top: 3px solid rgb(236, 236, 236);*/
    border-bottom: none !important;
    margin: 0 !important;
}

.content-gallery-arrow {
    position: absolute;
    background: transparent repeat-y;
    height: 100%;
    width: 50%;
    z-index: 98;
    opacity: 0.5;
}

.content-gallery-arrow-left
{
    left:0;
    top:0;
    background-position-x : left;
}

.content-gallery-arrow-right
{
    right:0;
    top:0;
    background-position-x : right;
}

.content-gallery-arrow-left:hover {
    background-image : url(/assets/skins/default/slider_arrow_left.png);
    background-size: contain;
}

.content-gallery-arrow-right:hover {
    background-image : url(/assets/skins/default/slider_arrow_right.png);
    background-size: contain;
}

.ug-bullets.ug-skin-default .ug-bullet {
    height: 14px !important;
}
