@(partName : String)
@checkedConfirmed() = @{
    val isConfirmed = Option(request().cookie("tos-confirmed")) match {
        case None => ""
        case Some(c : Http.Cookie) => c.value()
    }
    if("true".equals(isConfirmed))
        "checked=checked"
    else
        ""
}
<!-- common part 2, TOS etc -->
<div class="gapper-less clearfix"></div>
<div class="col-3"></div>
<div class="col-4 inlinemiddle">
    <input type="checkbox" id="@{partName + "-"}upload-confirmation" class="ui checkbox upload-confirmation required" name="upload-confirmed" @checkedConfirmed()>
    <label for="@{partName + "-"}upload-confirmation" class="upload-confirmation-label"><span>Zgadzam się z <a href="#tos" class="tos-anchor">regulaminem</a></span></label>
</div>
<div class="col-1"></div>
<div class="gapper"></div>
    @parts.forms.submit_buttons(true, if("image".equals(partName)){"DODAJ ZDJĘCIE"} else {"Dodaj wspomnienie"}, "entity-submit form-submit")
<div class="gapper clearfix"></div>
