@(partName: String)
<div class="gapper-less clearfix"></div>
<div class="image-block insert-image-after">
<div class="col-3 rightaligned inlinemiddle">
    <label class="image-label-filename image-label" for="_@partName-image_1">Dodaj zdjęcie</label>
</div>
<div class="col-4">
    <div class="ui action input">
        <input type="text" id="_@partName-image_1" class="image-name-input @{if("images".equals(partName)){ "required" }}" placeholder="Podziel się archiwalnymi zdjęciami i grafikami">
        <label for="@partName-image_1" class="button btn-file">
            <i class="asd-photo big icon"></i>
            <input type="file" id="@partName-image_1" name="image_1" style="display: none;">
        </label>
    </div>
</div>
<div class="col-1"></div>
<div class="gapper-less clearfix"></div>
<div class="col-3 rightaligned inlinemiddle">
    <label for="description" class="image-label-desc image-label">Podpis pod zdjęciem</label>
</div>
<div class="col-4">
    <input id="description" type="text" value="" name="description_1" placeholder="Co jest na zdjęciu? Kto jest autorem? Kiedy zostało zrobione?">
</div>
<div class="col-1"></div>
</div>