@import models.user.User
@(user: User)
<div class="suggestion-wrapper ui modal">
@*    @parts.guidelines(false)            *@
    <!-- new church specific components -->
    @parts.messages("new-church", "Twój komentarz został wysłany!")
    <nav id="new-church-menu-top" class="ui secondary pointing menu blurred hide-main menu-nav menu-nav-top">
        <div class="right item">
            <div class="close-button"></div>
        </div>
    </nav>
    @*<div class="gapper clearfix"></div>*@
    <div class="col-3"></div>
    <div class="col-4 new-church-title form-title">
        Dodaj brakujący kościół
    </div>
    <div class="gapper-less clearfix"></div>
    <form action="@routes.Churches.suggest" method="POST" class="ui form new-church-form" id="new_church_form">
        <div class="col-3 rightaligned inlinemiddle">
            <label for="church-name">nazwa kościoła</label>
        </div>
        <div class="col-4">
            <input type="text" class="ui input new-church-value" id="church-name" name="name" placeholder="Wpisz nazwę kościoła, który przeoczyliśmy">
        </div>
        <div class="col-1"></div>
        <div class="gapper-less clearfix"></div>
        <div class="col-3 rightaligned inlinemiddle">
            <label for="church-address">adres</label>
        </div>
        <div class="col-4">
            <input type="text" class="ui input new-church-value" id="church-address" name="address" placeholder="Podaj co najmniej nazwę miejscowości, w której znajduje się kościół">
        </div>
        <div class="col-1"></div>
        <div class="gapper-less clearfix"></div>
        <div class="col-3 rightaligned inlinemiddle">
            <label for="church-comment">komentarz</label>
        </div>
        <div class="col-4 fullheight">
            <textarea class="ui textarea new-church-value" id="church-comment" name="comment" placeholder="Wpisz dodatkowe dane, które pozwolą nam zlokalizować i opisać powojenny kościół, który przeoczyliśmy: daty budowy, architektów, stronę parafii."></textarea>
        </div>
        <div class="col-1"></div>
        <div class="gapper-less clearfix"></div>
        @parts.forms.submit_buttons(false, "WYŚLIJ DANE KOŚCIOŁA", "new-church-submit form-submit")
        <div class="gapper clearfix"></div>
    </form>
    <nav id="new-church-menu-bottom" class="ui secondary pointing menu blurred hide-main menu-nav menu-nav-bottom">
        <div class="right item">
            <div class="close-button"></div>
        </div>
    </nav>
</div>
