@import models.user.User
@import models.internal.LoginTypeSelect
@(user: User)
<!-- add story form -->
<form action="@routes.Churches.addStory()" method="POST" class="ui form entity-form" data-entity="story" enctype="multipart/form-data" data-image-part="new-story">
    @parts.forms.common_update_head(user, LoginTypeSelect.STORY)
    <div class="gapper-less clearfix"></div>
    <input type="hidden" value="" name="church" id="story-church-id" class="church-id-hidden">
    <div class="col-3 rightaligned inlinemiddle">
        <label for="story-title">Tytuł wspomnienia</label>
    </div>
    <div class="col-4">
        <input type="text" class="ui input clear-on-update-form" id="story-title" name="title" placeholder="Wybierz, jak Twoje wspomnienie będzie zatytuowane na stronie głównej">
    </div>
    <div class="col-1"></div>
    <div class="gapper-less clearfix"></div>
    <div class="col-3 rightaligned inlinemiddle">
        <label for="story-year">Rok</label>
    </div>
    <div class="col-4">
        <input type="text" class="ui input clear-on-update-form" id="story-year" name="year" placeholder="Przypomnij sobie, kiedy zdarzyła się historia, którą opowiadasz">
    </div>
    <div class="col-1"></div>
    <div class="gapper-less clearfix"></div>
    <div class="col-3 rightaligned inlinemiddle">
        <label for="story-text">Twoje wspomnienie</label>
    </div>
    <div class="col-4 fullheight">
        <textarea class="ui textarea clear-on-update-form" id="story-text" name="text" placeholder="Projektował kościół?  Pomagałeś przy budowie, znasz fakty, o których nikt już nie pamięta? A może ktoś z Twojej rodziny ma historię do opowiedzenia? Opisz ze szczegółami swoje wspomnienie."></textarea>
    </div>
    <div class="col-1"></div>
    <input type="hidden" value="" name="cover" id="story-cover-id">
        @parts.forms.image_block("new-story")
        @parts.forms.common_update_tail(false)
</form>
