@import models.user.User
@import models.internal.LoginTypeSelect
@(user: User)
<!-- add story form -->
<form action="@routes.Churches.addStory()" method="POST" class="ui form entity-form" data-entity="story" enctype="multipart/form-data" data-image-part="new-story">
    @parts.forms.common_update_head(user, LoginTypeSelect.STORY)
    <div class="gapper-less clearfix"></div>
    <input type="hidden" value="" name="church" id="story-church-id" class="church-id-hidden">
    <div class="col-3 rightaligned inlinemiddle">
        <label for="story-title">Tytuł</label>
    </div>
    <div class="col-4">
        <input type="text" class="ui input clear-on-update-form required" id="story-title" name="title" placeholder="Zatytułuj swoje wspomnienie">
    </div>
    <div class="col-1"></div>
    <div class="gapper-less clearfix"></div>
    <div class="col-3 rightaligned inlinemiddle">
        <label for="story-year">Rok</label>
    </div>
    <div class="col-4">
        <input type="text" class="ui input clear-on-update-form" id="story-year" name="year" placeholder="Przypomnij sobie, kiedy to się zdarzyło">
    </div>
    <div class="col-1"></div>
    <div class="gapper-less clearfix"></div>
    <div class="col-3 rightaligned inlinemiddle">
        <label for="story-text">Twoje wspomnienie</label>
    </div>
    <div class="col-4 fullheight">
        <textarea class="ui textarea clear-on-update-form required" id="story-text" name="text" placeholder="Projektowałaś / projektowałeś kościół?\nPomagałaś / pomagałeś w budowie?\nZnasz fakty, o których nikt nie pamięta?\nA może ktoś z Twojej rodziny lub znajomych ma historię do opowiedzenia?\nOpisz ze szczegółami swoje wspomnienie"></textarea>
    </div>
    <div class="col-1"></div>
    <input type="hidden" value="" name="cover" id="story-cover-id">
        @parts.forms.image_block("new-story")
        @parts.forms.common_update_tail("story")
</form>
