@(facebookPage: String)

<!-- credits -->
<div id="slide-about" class="slide slide-about">
    <a id="to-slide-about" href="#slide-about" class="slide-transition"></a>

    <div class="credits-container">
        <h3>O projekcie</h3>

        <div class="row">
            <p>Policzyliśmy – po wojnie zbudowaliśmy w Polsce ponad trzy i pół tysiąca kościołów.
                Ogromna większość powstała w duchu reformatorskiego Soboru Watykańskiego II.
                Choć budowle sakralne z ogromną mocą wpłynęły na krajobraz, pozostają na peryferiach dyskusji o
                współczesnej polskiej architekturze.
            </p>
            <p>W czasach PRL wznoszenie kościołów było jedną z form prostestu wobec władzy.
                Ilość prowadzonych budów świątyń katolickich była wprost proporcjonalna do skali protestów przeciwko reżymowi.
                W latach “Solidarności” zainicjowano budowę ponad tysiąca świątyń! Większość wzniesiono wyłącznie dzięki
                oddolnym działaniom parafian. Wspólnoty wiernych były zaangażowane w proces powstawania
                kościołów od samego początku – ludzie organizowali się, wyłaniali projekty, masowo uczestniczyli w budowach.</p>
            <p>Tysiące zbudowanych wspólnie posoborowych kościołów nazwaliśmy Architekturą VII Dnia.
                Napiszmy teraz ich historię – ten społeczny zryw zasługuje na to, by o nim pamiętać!</p>
            <p>Celem strony <a href="#slide-map">architektura7dnia.pl</a> jest zebranie jak największej ilości wspomnień
                i oryginalnych zdjęć upamiętniajątniających powstawanie polskich powojennych świątyń.
                Naszą ambicją jest stworzenie publikacji, zawierającej najciekawsze historie.
                Liczymy również na pomoc w udoskonaleniu bazy danych kościołów – do niektórych informacji nie jesteśmy
                zdolni dotrzeć samodzielnie.</p>
            <p></p>
            <p>Zapraszamy na wystawę “Architektura VII Dnia: Podsumowanie Pół Wieku Posoborowej Architektury”.</p>
            <p>3.12.2015 &ndash; 31.01.2016<br>
                Państwowe Muzeum<br>
                Etnograficzne w Warszawie<br>
                ul. Kredytowa 1
                <br> <br>
                Godziny otwarcia wystaw w Muzeum:<br>
                Poniedziałek: nieczynne<br>
                Wtorek-piątek: 9.00-17.00<br>
                Sobota: 10.00-18.00<br>
                Niedziela: 12.00-17.00<br>
            </p>
        </div>
        <div class="row">
            <div class="column role">Kuratorzy projektu</div>
            <div class="column">Kuba Snopek, Iza Cichońska</div>
        </div>
        <div class="row">
            <div class="column role">Koordynacja</div>
            <div class="column">Ela Petruk</div>
        </div>
        <div class="row">
            <div class="column role">Baza danych</div>
            <div class="column">Karolina Popera</div>
        </div>
        <div class="row">
            <div class="column role">Fotografie</div>
            <div class="column"><a href="http://snopek.tumblr.com/" target="_blank">Igor Snopek</a>, <a href="http://www.foto-ml.pl/" target="_blank">Maciej Lulko</a></div>
        </div>
        <div class="row">
            <div class="column role">Kartografia</div>
            <div class="column">Szymon Pifczyk</div>
        </div>
        <div class="row">
            <div class="column role">Statystyka</div>
            <div class="column">Szymon Pifczyk, Tomasz Świetlik</div>
        </div>
        <div class="row">
            <div class="column role">Zbiór danych</div>
            <div class="column">Agnieszka Baryła, Kasia Dudycz, Tomasz Koczur, Magda Koźluk, Wojciech Mazan, Kamila Milewska, Ewa Mirska, Ania Młodzianowska, Magdalena Owczarek, Kasia Pabich, Łukasz Pieńczykowski, Karolina Popera, Marcin Semeniuk, Anna Wojtun, Agnieszka Zawistowska, Julita Zembrowska</div>
        </div>
        <div class="row">
            <div class="column role">Artykuły</div>
            <div class="column">Tomasz Koczur, Wojciech Mazan, Kamila Milewska, Laura Osińska, Kasia Pabich, Karolina Popera, Tomasz Świetlik, Kamila Twardowska</div>
        </div>
        <div class="row">
            <div class="column role">Redakcja</div>
            <div class="column">Ilona Witkowska, Michał Mazur</div>
        </div>
        <div class="row">
            <div class="column role">Korekta</div>
            <div class="column">Ludmiła Laskowska</div>
        </div>
        <div class="row">
            <div class="column role">Strona WWW</div>
            <div class="column"><a href="https://www.facebook.com/ayoupov" target="_blank">Aleksandr Ajupow</a> (kod), <a href="http://wearepixies.com/" target="_blank">Ola Sień</a> (design)</div>
        </div>
        <div class="row">
            <div class="column role">Grafika</div>
            <div class="column"><a href="http://www.jakubjezierski.com/" target="_blank">Jakub Jezierski</a></div>
        </div>
        <div class="row">
            <div class="column role">Dziękujemy ekspertom</div>
            <div class="column">Aleksiej Amiotow, Maciej Frąckowiak, Alicja Gzowska, Michał Murawski, Piotr Szukiel</div>
        </div>
        <div class="row">
            <div class="column social role">Obserwuj</div>
            <div class="column social"><a target="_blank" href="@facebookPage">
                <img src="@routes.Assets.at("images/fb_inv.png")"></a>
            </div>
        </div>
        <div class="row">
            <div class="column social role">Napisz do nas</div>
            <div class="column social"><a href="javascript:addFeedback();" class="feedback-anchor">
                <img src="@routes.Assets.at("images/mail_icon.png")">
            </a>
            </div>
        </div>
        <div class="row upper-gap">
            <p>Projekt „Architektura Siódmego Dnia: Podsumowanie Pół Wieku Posoborowej Architektury” jest realizowany
                przez Fundację Nowej Kultury Bęc Zmiana dzięki dotacji od Ministra Kultury i Dziedzictwa Narodowego.</p>
        </div>
        <div class="row last">
            <div class="other-logos-left"><a href="http://www.mkidn.gov.pl/" target="_blank"><img src="@routes.Assets.at("images/mkidnpl-left.png")"/></a></div>
            <div class="other-logos-right"><a href="http://www.beczmiana.pl/" target="_blank"><img src="@routes.Assets.at("images/mkidnpl-right.png")"/></a></div>
        </div>
    </div>
</div>