@(churchCount : Long)
<div id="slide-map" class="slide wrapped violet slide-map">
    <div id="map"></div>
    <div id="about" class="ui golden sticky">
        <div class="arrow-right">
            <img class="ui image" src="@routes.Assets.at("images/arrow_selector_white.png")">
        </div>
        <div class="about-content">
            <div class="black about-header">POLICZYLIŚMY – PO WOJNIE W POLSCE POWSTAŁO @churchCount NOWYCH KOŚCIOŁÓW</div>
            <div class="black about-more">Większość wznieśli społecznie sami parafianie. Znajdź swój kościół i
                podziel się wspomnieniami i zdjęciami z jego budowy!
            </div>
            <div class="shameful-underline"></div>
        </div>
        <div class="about-shrunk-content hidden">o&nbsp;projekcie</div>
    </div>
</div>
