@(facebookPage: String)

<!-- credits -->
<div id="slide-about" class="slide slide-about">
    <a id="to-slide-about" href="#slide-about" class="slide-transition"></a>

    <div class="credits-container">
        <h3>O projekcie</h3>

        <div class="row">
            <p>Policzyliśmy – po wojnie zbudowano w Polsce ponad trzy i pół tysiąca kościołów.
                Większość powstała w duchu reformatorskiego Soboru Watykańskiego II.
                I choć budowle sakralne znacząco wpłynęły na krajobraz, pozostają na peryferiach dyskusji o współczesnej
                polskiej architekturze.
            </p>
            <p>
                W czasach PRL wznoszenie kościołów było jedną z form protestu. Ilość prowadzonych budów świątyń
                katolickich była wprost proporcjonalna do skali protestów przeciwko władzy.
                Tylko w latach 80., w okresie po powstaniu „Solidarności”, zainicjowano budowę ponad tysiąca świątyń!
                Większość wzniesiono wyłącznie dzięki oddolnym działaniom parafian.
                Wspólnoty wiernych były zaangażowane w proces powstawania kościołów od samego początku – ludzie organizowali się,
                wyłaniali projekty, masowo uczestniczyli w budowach, finansowali je.
            </p>
            <p>
                Tysiące zbudowanych wspólnie posoborowych kościołów nazwaliśmy Architekturą VII Dnia.
                Teraz piszemy ich historię. Ten społeczny wysiłek zmaterializowany w czasach kiedy crowdsourcing,
                crowdfunding czy inne metody społecznościowego samoorganizowania i zaspokajania potrzeb lokalnych
                nie były jeszcze nazwane, zasługuje na to, by o nim pamiętać.
            </p>
            <p>
                Celem strony <a href="#slide-map">architektura7dnia.pl</a> jest zebranie jak największej ilości wspomnień
                    i oryginalnych zdjęć upamiętniających powstawanie polskich powojennych świątyń.
                    Naszą ambicją jest stworzenie publikacji, zawierającej najciekawsze wspomnienia.
                    Liczymy również na pomoc w udoskonaleniu bazy danych kościołów – do niektórych informacji nie jesteśmy
                    zdolni dotrzeć samodzielnie.
                    Aby dowiedzieć się więcej, przeczytaj <a href="@routes.Application.tos_site" target="_blank" class="tos-anchor">regulamin strony</a> i <a href="@routes.Application.tos_content" target="_blank" class="tos-anchor">umowę licencji</a>.
            </p>
            <p><i>Iza Cichońska, Kuba Snopek, Karolina Popera</i><br><i>Pomysłodawcy i kuratorzy projektu</i></p>
            @*<br>*@
            @*<p>3.12.2015 zapraszamy na wystawę “Architektura VII Dnia: Podsumowanie Pół Wieku Posoborowej Architektury”.</p>*@
            @*<p>3.12.2015 &ndash; 31.01.2016<br>*@
                @*Państwowe Muzeum<br>*@
                @*Etnograficzne w Warszawie<br>*@
                @*ul. Kredytowa 1*@
                @*<br> <br>*@
                @*Godziny otwarcia wystaw w Muzeum:<br>*@
                @*Poniedziałek: nieczynne<br>*@
                @*Wtorek-piątek: 9.00-17.00<br>*@
                @*Sobota: 10.00-18.00<br>*@
                @*Niedziela: 12.00-17.00<br>*@
            @*</p>*@
        </div>
        @*<div class="row">*@
            @*<p>*@
            @*Wernisaż: 3.12 (czwartek), g. 19.00<br><br>*@
            @*Dyskusja i przedstawienie projektu: 3.12 (czwartek) g. 17.00<br><br>*@
            @*Prowadzenie: Bogna Świątkowska<br><br>*@
            @*Paneliści:<br><br>*@
            @*Iza Cichońska – ukończyła Politechnikę Wrocławską na wydziale Architektury i Urbanistyki, otrzymując za swój projekt dyplomowy honorową nagrodę SARP Wrocław. Jest absolwentką moskiewskiego Instytutu „Strelka”, w którym prowadziła badania na temat rosyjskiego systemu penitencjarnego. Pracuje jako reżyser artystyczny, architekt wnętrz i ilustrator.*@
                @*<br><br>*@
            @*Kuba Snopek – polski urbanista i badacz architektury. Ukończył wrocławski Wydział Architektury i moskiewski Instytut „Strelka” (studio Rema Koolhaasa, poświęcone ochronie zabytków modernizmu). Kuba Snopek pisze o architekturze, pracuje jako kurator wystaw i wykładowca. Jest autorem książki “Bielajewo. Zabytek przyszłości”, wydanej przez Fundację Bęc Zmiana, 2014.*@
                @*<br><br>*@
            @*Maciej Frąckowiak  – socjolog, zainteresowany formami aktywności i bezczynności społecznej w miastach, a także obrazem, który próbuje traktować jako narzędzie i pretekst do badań oraz zmiany relacji społecznych. Doktorant w Instytucie Socjologii Uniwersytetu im. Adama Mickiewicza w Poznaniu.*@
                @*<br><br>*@
            @*Ks. dr Marek Pieńkowski – warszawiak, matematyk, logik i filozof przyrody. Dominikanin syn wybitnego architekta Władysława Pieńkowskiego (1907-1991), który oprócz realizacji świeckich miał na koncie liczne projekty kościelne w stolicy i nie tylko.*@
                @*<br><br>*@
            @*Amudena Rutkowska - absolwentka etnologii na Uniwersytecie Warszawskim , doktorantka w Zakładzie Historii Kultury Instytutu Kultury Polskiej UW, adiunkt w Dziale Etnografii Polski i Europy Państwowego Muzeum Etnograficznego w Warszawie. Prowadzi badania nad współczesnymi formami karnawału i obrzędów maskaradowych w Polsce i Europie, interesuje się obiegiem słowa i obrazu drukowanego w kulturze ludowej i popularnej przełomu XIX i XX wieku, w PME zajmuje się kolekcją sztuki ludowej i nieprofesjonalnej.*@
            @*</p>*@
        @*</div>*@
        <div class="row">
            <div class="column role">Kuratorzy projektu</div>
            <div class="column">Kuba Snopek, Iza Cichońska, Karolina Popera</div>
        </div>
        <div class="row">
            <div class="column role">Producent</div>
            <div class="column"><a href="http://www.beczmiana.pl/" target="_blank">Fundacja Bęc Zmiana</a></div>
        </div>
        <div class="row">
            <div class="column role">Koordynacja</div>
            <div class="column">Ela Petruk</div>
        </div>
        <div class="row">
            <div class="column role">Fotografie</div>
            <div class="column"><a href="http://snopek.tumblr.com/" target="_blank">Igor Snopek</a>, <a href="http://www.foto-ml.pl/" target="_blank">Maciej Lulko</a></div>
        </div>
        <div class="row">
            <div class="column role">Kartografia</div>
            <div class="column"><a href="https://www.facebook.com/kartografiaekstremalna/" target="_blank">Szymon Pifczyk</a></div>
        </div>
        <div class="row">
            <div class="column role">Statystyka</div>
            <div class="column"><a href="https://www.facebook.com/kartografiaekstremalna/" target="_blank">Szymon Pifczyk</a>, <a href="http://cargocollective.com/swietlik" target="_blank">Tomasz Świetlik</a></div>
        </div>
        <div class="row">
            <div class="column role">Zbiór danych</div>
            <div class="column">Agnieszka Maga Baryła, Kasia Dudycz, Tomasz Koczur, Magda Koźluk, <a href="http://parerga.site" target="_blank">Wojciech Mazan</a>, Kamila Milewska, Ewa Mirska, Ania Młodzianowska, Magdalena Owczarek, Kasia Pabich, Łukasz Pieńczykowski, Karolina Popera, Marcin Semeniuk, Anna Wojtun, Agnieszka Zawistowska, Julita Zembrowska</div>
        </div>
        <div class="row">
            <div class="column role">Artykuły</div>
            <div class="column">Tomasz Koczur, <a href="http://parerga.site" target="_blank">Wojciech Mazan</a>, Kamila Milewska, Laura Osińska, Kasia Pabich, <a href="https://www.facebook.com/kartografiaekstremalna/" target="_blank">Szymon Pifczyk</a>, Karolina Popera, <a href="http://cargocollective.com/swietlik" target="_blank">Tomasz Świetlik</a>, Kamila Twardowska</div>
        </div>
        <div class="row">
            <div class="column role">Redakcja</div>
            <div class="column">Ilona Witkowska, Michał Mazur</div>
        </div>
        <div class="row">
            <div class="column role">Korekta</div>
            <div class="column">Ludmiła Laskowska</div>
        </div>
        <div class="row">
            <div class="column role">Strona WWW</div>
            <div class="column"><a href="https://www.facebook.com/ayoupov" target="_blank">Aleksandr Ajupow</a>,<br> <a href="http://wearepixies.com/" target="_blank">Ola Sień</a> (design)</div>
        </div>
        <div class="row">
            <div class="column role">Projekt Graficzny</div>
            <div class="column"><a href="http://www.jakubjezierski.com/" target="_blank">Jakub Jezierski</a></div>
        </div>
        <div class="row">
            <div class="column role">Partnerzy</div>
            <div class="column">
                <a href="http://autoportret.pl/category/pismo/" target="_blank">Autoportret</a>,
                <a href="http://biqdata.pl/" target="_blank">BIQ DATA</a>,
                <a href="http://blokblog.pl/" target="_blank">Blok Blog</a>,
                <a href="http://publica.pl/kategoria-produktu/magazyn-miasta" target="_blank">Magazyn Miasta</a>,
                <a href="http://www.beczmiana.pl/notesna6tygodni.html#/page/1" target="_blank">Notes na 6 Tygodni</a>,
                <a href="http://www.ethnomuseum.pl/" target="_blank">Państwowe Muzeum Etnograficzne w Warszawie</a>,
                <a href="http://tumw.pl/" target="_blank">TUMW</a>,
                <a href="http://dolny-slask.org.pl/" target="_blank">Wratislaviae Amici (dolny-slask.org.pl)</a>
            </div>
        </div>
        <div class="row">
            <div class="column role">Opieka nad wystawą ze strony Państwowego Muzeum Etnograficznego</div>
            <div class="column">Elżbieta Czyżewska, Anastazja Stelmach, Marta Ancelewska</div>
        </div>
        <div class="row">
            <div class="column role">Montaż wystawy</div>
            <div class="column">Ekipa techniczna PME</div>
        </div>
        <div class="row">
            <div class="column role">Dziękujemy ekspertom</div>
            <div class="column">Aleksiej Amiotow, Maciej Frąckowiak, Alicja Gzowska, Marian Matula, Michał Murawski, Krzysztof Nawratek, Piotr Szukiel, Bogna Świątkowska</div>
        </div>
        <div class="row">
            <div class="column social role">Obserwuj</div>
            <div class="column social">
                <a target="_blank" href="@facebookPage"><img src="@routes.Assets.at("images/fb_inv.png")"></a>
                <a target="_blank" href="https://twitter.com/Arch7Dnia" class="minimargin-mainslide4"><img src="@routes.Assets.at("images/tw_inv.png")"></a>
            </div>
        </div>
        <div class="row">
            <div class="column social role">Napisz do nas</div>
            <div class="column social"><a href="javascript:addFeedback();" class="feedback-anchor">
                <img src="@routes.Assets.at("images/mail_icon.png")">
            </a>
            </div>
        </div>
        <div class="row upper-gap">
            <p>Projekt „Architektura Siódmego Dnia: Podsumowanie Pół Wieku Posoborowej Architektury” jest realizowany
                przez Fundację Nowej Kultury Bęc Zmiana dzięki dotacji od Ministra Kultury i Dziedzictwa Narodowego.</p>
        </div>
        <div class="row last">
            <div class="column social role">
                <div class="other-logos-left"><a href="http://www.mkidn.gov.pl/" target="_blank"><img src="@routes.Assets.at("images/mkidnpl-left.png")"/></a></div>
                <div class="other-logos-right"><a href="http://www.beczmiana.pl/" target="_blank"><img src="@routes.Assets.at("images/mkidnpl-right.png")"/></a></div>
            </div>
            <div class="column social">
                <div class="other-logos-left"><a href="http://www.ethnomuseum.pl/" target="_blank"><img src="@routes.Assets.at("images/pmeww_logo.png")"/></a></div>
            </div>
        </div>
    </div>
</div>