@()

<!-- stories -->
<div id="slide3" class="slide">
    <a id="to-slide3" href="#slide3" class="slide-transition"></a>

    <div class="both-container">
        <div class="left-container">
            <div id="stories-by-date" class="vertical menu">
            </div>
            <div id="story-controls">
                <div class="story-control-left"></div>
                <div class="story-control-right"></div>
            </div>
        </div>
        <div class="right-container stories">
        </div>
        <div class="cleared"></div>
    </div>
    <div class="padder"></div>
</div>
