@(facebookPage : String)

<!-- credits -->
<div id="slide-about" class="slide slide-about">
    <a id="to-slide-about" href="#slide-about" class="slide-transition"></a>

    <div class="credits-container">
            <!--<h3>O projekcie</h3>-->

        <div class="row">
            <p>Trzy tysiące pięćset sześćdziesiąt sześć posoborowych kościołów – choć zdominowało polski
                krajobraz
                – pozostaje na peryferiach dyskusji o współczesnej polskiej architekturze. Pojedyncze badania
                nad
                najpiękniejszymi obiektami nie rekompensują braku kompleksowej analizy tego zagadnienia.</p>

            <p>Celem projektu "Architektura Siódmego Dnia" jest kompleksowe opisanie zjawiska masowej budowy
                kościołów w Polsce i zwrócenie uwagi na ich niespotykaną formalną różnorodność. Chcemy
                przed\stawić
                szeroką panoramę polskiej architektury sakralnej, ale i zwrócić uwagę na wartość poszczególnych
                obiektów. Przede wszystkim jednak, pragniemy wywołać dyskusję na temat tego niezauważonego
                dziedzictwa.</p>

            <p>Ponadto, stawiamy sobie za cel wskrzeszenie społecznego wymiaru Architektury Siódmego Dnia, dając
                dawnym budowniczym kościołów możliwość podzielenia się zdjęciami i wspomnieniami i stworzenia
                wielkiego archiwum wspólnej budowy.</p>
        </div>
        <div class="row">
            <div class="column role">Kuratorzy projektu</div>
            <div class="column">Kuba Snopek, Iza Cichońska</div>
        </div>
        <div class="row">
            <div class="column role">Baza danych</div>
            <div class="column">Karolina Popera</div>
        </div>
        <div class="row">
            <div class="column role">Kartografia</div>
            <div class="column">Szymon Pifczyk</div>
        </div>
        <div class="row">
            <div class="column role">Fotografie</div>
            <div class="column">Igor Snopek</div>
        </div>
        <div class="row">
            <div class="column role">Zbiór danych</div>
            <div class="column">Agnieszka Baryła, Kasia Dudycz, Tomasz Koczur, Magda Koźluk, Wojtek Mazan, Ewa
                Mirska, Kamila Milewska, Magdalena Owczarek, Ania Młodzianowska, Kasia Pabich, Łukasz Pieńczykowski,
                Karolina Popera, Marcin Semeniuk, Anna Wojtun, Agnieszka Zawistowska, Julita Zembrowska
            </div>
        </div>
        <div class="row">
            <div class="column role">Teksty</div>
            <div class="column">Tomasz Koczur, Magda Koźluk, Wojtek Mazan, Kamila Milewska, Laura Osińska, Magdalena
                Owczarek, Kasia Pabich, Karolina Popera, Julita Zembrowska
            </div>
        </div>
        <div class="row">
            <div class="column role">Koordynacja</div>
            <div class="column">Ela Petruk</div>
        </div>
        <div class="row">
            <div class="column role">Design</div>
            <div class="column">Ola Sień, Jakub Jezierski</div>
        </div>
        <div class="row">
            <div class="column role">Programowanie</div>
            <div class="column">Aleksandr Ajupow</div>
        </div>
        <div class="row">
            <div class="column role">Chcielibyśmy również podziękować naszym ekspertom</div>
            <div class="column">Piotr Szukiel, Aleksiej Amiotow, ...</div>
        </div>
        <div>
            <p>Projekt „Architektura Siódmego Dnia: Podsumowanie Pół Wieku Posoborowej Architektury” jest
                realizowany przez Fundację Nowej Kultury Bęc Zmiana dzięki dotacji od Ministra Kultury i
                Dziedzictwa
                Narodowego.</p>
        </div>
        <div class="row last">
            <div class="column social role">Obserwuj</div>
            <div class="column social"><a target="_blank" href="@facebookPage">
                <img src="@routes.Assets.at("images/fb_inv.png")"></a>
            </div>
        </div>
    </div>
</div>