@()
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.0.4/semantic.min.css">
@*<link rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.css">*@
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.index.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.common.css")">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script src="//oss.maxcdn.com/semantic-ui/2.0.4/semantic.min.js"></script>
@*<script src="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.js"></script>*@
<!-- ui -->
<script src="@routes.Assets.at("javascripts/isotope.pkgd.2.2.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/asd.common.js")"></script>
<script src="@routes.Assets.at("javascripts/asd.api.js")"></script>
<script src="@routes.Assets.at("javascripts/asd.util.js")"></script>
<script src="@routes.Assets.at("javascripts/js.cookie.js")"></script>
@parts.heads.ga_head()

