@()

<script src="@routes.Assets.at("javascripts/asd.content.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.mediacontent.css")">

<!-- gallery -->
<script src="@routes.Assets.at("javascripts/unitegallery.js")"></script>
<script src="@routes.Assets.at("javascripts/ug-theme-slider.js")"></script>
<!-- search -->
<script src="@routes.Assets.at("javascripts/asd.mediacontent.search.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/unite-gallery.css")">

