@()

<script src="@routes.Assets.at("javascripts/asd.content.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.mediacontent.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.common.css")">

<!-- gallery -->

<script src="@routes.Assets.at("javascripts/unitegallery.js")"></script>
<script src="@routes.Assets.at("javascripts/ug-theme-slider.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/unite-gallery.css")">

