@import utils.ServerProperties
@()
<script src="@routes.Assets.at("javascripts/jquery-rotate-2.3.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.history.js")"></script>
<!-- asd files -->
<script src="@routes.Assets.at("javascripts/asd.ui.js")"></script>
<script src="@routes.Assets.at("javascripts/asd.map.js")"></script>
<script src="@routes.Assets.at("javascripts/asd.thumbs.js")"></script>
<script src="@routes.Assets.at("javascripts/asd.search.js")"></script>

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.passport.css")">
<!-- passport galleries -->
<script src="https://maps.googleapis.com/maps/api/js?key=@ServerProperties.getValue("google.api.key")&language=pl&v=3"></script>