@import models.internal.SessionCache
@import models.internal.search.filters._
@import models.user.User
@import play.mvc.Http.Session

@import utils.ServerProperties

@import scala.collection.JavaConverters._
@import models.internal.email.EmailTemplate
@import models.internal.UserFeedback
@import models.internal.ChurchSuggestion
@(
        admin: User,
        users: java.util.List[User], articles: java.util.List[MediaContent], stories: java.util.List[MediaContent], churches: java.util.List[Church],
        images : java.util.List[Image],
        feedbacks : java.util.List[UserFeedback],
        emails : java.util.List[EmailTemplate],
        newChurches: java.util.List[ChurchSuggestion], dioIds : java.util.List[String],
        count: java.util.Map[String, Integer], countTotals: java.util.Map[String, Long],
        session: Session)

@counters() = @{
    count.asScala.toMap
}
@countersTotal() = @{
    countTotals.asScala.toMap
}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Architektura Siódmego Dnia, Admin interface</title>
        <link rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.0.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.index.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.mediacontent.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.admin.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.common.css")">
        @*<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.forms.css")">*@
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.tokenize.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/dropzone.css")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script src="//oss.maxcdn.com/semantic-ui/2.0.4/semantic.min.js"></script>
            <!-- ui -->
        <script src="@routes.Assets.at("javascripts/asd.api.js")"></script>
        <script src="@routes.Assets.at("javascripts/asd.admin.js")"></script>
        <script src="@routes.Assets.at("javascripts/asd.admin.articles.js")"></script>
        <script src="@routes.Assets.at("javascripts/asd.admin.email.js")"></script>
        <script src="@routes.Assets.at("javascripts/asd.admin.stories.js")"></script>
        <script src="@routes.Assets.at("javascripts/asd.admin.churches.js")"></script>
        <script src="@routes.Assets.at("javascripts/asd.admin.editor.js")"></script>
        <script src="@routes.Assets.at("javascripts/asd.admin.fm.js")"></script>
        <script src="@routes.Assets.at("javascripts/asd.thumbs.js")"></script>
        <script src="@routes.Assets.at("javascripts/asd.util.js")"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ServerProperties.getValue("google.api.key")&language=pl&v=3"></script>
        @*<script src="@routes.Assets.at("javascripts/dropzone.js")"></script>*@
        <script src="@routes.Assets.at("javascripts/jquery.noty.packaged.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.tokenize.js")"></script>
        <script src="@routes.Assets.at("javascripts/isotope.pkgd.2.2.1.min.js")"></script>
    </head>
    <body>
        <div class="wrapper">
            <nav id="menu" class="ui fixed secondary pointing menu blurred">
                <div class="left item logo-wrapper">
                    <div class="logo-wrapper-more item">
                        <a id="logo" class="logo" href="@routes.Application.index(null)"><img src="@routes.Assets.at("images/logo.png")" class="ui image"></a>
                    </div>
                </div>

                <div id="links" class="center aligned item">
                    <a class="active golden item" href="#">admin interface</a>
                </div>
            </nav>
            <div class="ui left rail">
                <div class="ui vertical menu left-admin-menu">
                    <div class="ui item">
                        <b>Content</b>
                        <div class="menu">
                            <a class="item page-changer" href="#users">
                                <b>Users</b>
                                <div id="user_reqs" class="ui label">@counters.getOrElse("users", 0)</div>
                            </a>
                            <a class="item page-changer" href="#articles">Articles
                                <div id="articles_total" class="ui right label">@countersTotal.getOrElse("articles", 0)</div>
                                <div id="articles_reqs" class="ui right @{if (counters.getOrElse("articles", 0) == 0) "green" else "red"} label">@counters.getOrElse("articles", 0)</div>
                            </a>
                            <a class="item page-changer" href="#stories">Stories
                                <div id="stories_total" class="ui right label">@countersTotal.getOrElse("stories", 0)</div>
                                <div id="stories_reqs" class="ui right @{if (counters.getOrElse("stories", 0) == 0) "green" else "red"} label">@counters.getOrElse("stories", 0)</div>
                            </a>
                            <a class="item page-changer" href="#images">Images
                                <div id="images_total" class="ui right label">@countersTotal.getOrElse("images", 0)</div>
                                <div id="images_reqs" class="ui right @{if (counters.getOrElse("images", 0) == 0) "green" else "red"} label">@counters.getOrElse("images", 0)</div>
                            </a>
                            <a class="item page-changer" href="#feedbacks">Feedback
                                <div id="feedbacks_total" class="ui right label">@countersTotal.getOrElse("feedbacks", 0)</div>
                                <div id="feedbacks_reqs" class="ui right @{if (counters.getOrElse("feedbacks", 0) == 0) "green" else "red"} label">@counters.getOrElse("feedbacks", 0)</div>
                            </a>
                            <a class="item page-changer" href="#churches">Churches
                                <div id="churches_total" class="ui right label">@countersTotal.getOrElse("churches", 0)</div>
                                <div id="churches_reqs" class="ui right @{if (counters.getOrElse("churches", 0) == 0) "green" else "red"} label">@counters.getOrElse("churches", 0)</div>
                            </a>
                        </div>
                    </div>

                    <div class="ui item">
                        <b>Static</b>
                        <div class="menu">
                            <a class="item page-changer" href="#emails">
                                Emails
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui grid skipped-top">
                <div class="four column row">
                    <div class="column"></div>
                    <div class="eight wide column" id="main-admin-content">
                        @parts.admin.stats()
                        <!-- content -->
                        @parts.admin.users(users.asScala.toList, SessionCache.get(session, "userFilter").asInstanceOf[UserFilter])
                        @parts.admin.articles(articles.asScala.toList, SessionCache.get(session, "articleFilter").asInstanceOf[ArticleFilter])
                        @parts.admin.stories(stories.asScala.toList, SessionCache.get(session, "storyFilter").asInstanceOf[StoryFilter])
                        @parts.admin.images(images.asScala.toList, SessionCache.get(session, "imageFilter").asInstanceOf[ImageFilter])
                        @parts.admin.feedbacks(feedbacks.asScala.toList)
                        @parts.admin.churches(churches.asScala.toList, SessionCache.get(session, "churchFilter").asInstanceOf[ChurchFilter], newChurches, dioIds, admin)
                        <!-- static -->
                        @parts.admin.emails(emails.asScala.toList)
                        <div id="editor-wrapper">
                            @parts.admin.forms.usereditor()
                            @parts.admin.forms.articleeditor()
                            @parts.admin.forms.storyeditor()
                            @parts.admin.forms.imageeditor()
                            @parts.admin.forms.churcheditor()
                            @parts.admin.forms.emaileditor()
                        </div>

                    </div>
                </div>
                <div class="column"></div>
            </div>
            <div class="ui right rail">
                <div id="fm" class="ui form right-admin-menu article-visible story-visible">
                </div>
            </div>
        </div>
    </body>
</html>