@import models.user.User
@import play.libs.Json
@import utils.ServerProperties
@import utils.serialize.Serializer
@(churchCount: Long, currentChurch: Church, user: User)
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Architektura Siódmego Dnia</title>
        @parts.heads.commonhead()
        @parts.heads.maphead()
        @parts.heads.indexhead()
        @parts.heads.metas()
        </head>
    <body>
        <div class="wrapper">
            @* @parts.guidelines(true) *@
            @staticmenu(true)
            @sociallinks()
            @parts.main.mainslide1(churchCount)
            @parts.main.mainslide2()
            @parts.main.mainslide3()
            @parts.main.mainslide4(ServerProperties.getValue("facebook.url"))
            <div class="ui modal passport-wrapper">
                @* @parts.guidelines(false) *@
                @parts.passport(currentChurch, user)
                @parts.suggestion(user)
            </div>
        </div>
        <script>
        var userAuthed, userName;
        @if(user != null) {
            userAuthed = true;
            userName = '@user.getName';
            console.log(userAuthed);
            } else {
            userAuthed = false;
            userName = '';
            console.log('not authed');
        }
        var googleApiKey = "@ServerProperties.getValue("google.api.key")";
        var port = location.port;
        @if(ServerProperties.isInProduction) {
        var churchTilesURL = 'http://{s}.' + location.hostname + (port != "" ? ":" + port : "") + '/tiles/c/{z}/{x}/{y}.json';
        var dekanatTilesURL = 'http://{s}.' + location.hostname + (port != "" ? ":" + port : "") + '/tiles/d/{z}/{x}/{y}.json';
        } else {
        var churchTilesURL = 'http://' + location.hostname + (port != "" ? ":" + port : "") + '/tiles/c/{z}/{x}/{y}.json';
        var dekanatTilesURL = 'http://' + location.hostname + (port != "" ? ":" + port : "") + '/tiles/d/{z}/{x}/{y}.json';
        }
            @if(currentChurch != null) {
                @Json.setObjectMapper(Serializer.shallowChurchMapper)
        var currentChurch = @{Html(Json.toJson(currentChurch).toString)};}
        </script>
    </body>
</html>
