@import utils.ServerProperties
@(churchCount: Long, currentChurch : Church)

<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Architektura Siódmego Dnia</title>
            @parts.commonhead()
            @parts.maphead()
            @parts.indexhead()
            @parts.metas()
    </head>
    <body>
        <div class="wrapper">
            @staticmenu(true)
            @sociallinks()
            @parts.main.mainslide1(churchCount, currentChurch)
            @parts.main.mainslide2()
            @parts.main.mainslide3()
            @parts.main.mainslide4(ServerProperties.getValue("facebook.url"))
            <div class="passport-hidden ui modal">
            @parts.passport(currentChurch, routes.Application.index(null).absoluteURL())
            </div>
        </div>
    </body>
</html>
