@import models.user.User
@import play.libs.Json
@import utils.ServerProperties
@import utils.serialize.Serializer
@(churchCount: Long, currentChurch: Church, user: User)
@polishedCount() = @{
    churchCount % 100 match {
        case 2|3|4|22|23|24|32|33|34|42|43|44|52|53|54|62|63|64|72|73|74|82|83|84|92|93|94 => churchCount + " kościoły"
        case _ => churchCount + " kościołów"
    }
}

@mainDescription() = @{
    s"Zbudowaliśmy ${polishedCount()} – teraz piszemy ich historię. " +
            "Zróbmy to wspólnie! Znajdź swój kościół na mapie i dodaj wspomnienie z jego budowy."
}
@tweetDescription() = @{
    s"Zbudowaliśmy ${polishedCount()} – teraz piszemy ich historię."
}
@churchDescription() = @{
    s"Zobacz kościół ${currentChurch.name} i jego historię"
}
@mainTitle() = @{
    "Architektura VII Dnia"
}
@churchTitle() = @{
    currentChurch.getName
}
@churchImage() = @{
    val images = currentChurch.getImages
    if (images != null && images.size() > 0)
        "http://" + request().host() + images.get(0).getPath
    else
        null
}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>@mainTitle()</title>
        @parts.heads.commonhead()
        @parts.heads.maphead()
        @parts.heads.indexhead()
        @if(currentChurch == null) {
        @parts.heads.metas(mainDescription(),mainTitle(), null, "website", routes.Application.index(null).absoluteURL(), null)
        } else {
        @parts.heads.metas(churchDescription(),churchTitle(), churchImage(), "place", routes.Application.index(currentChurch.getExtID).absoluteURL(), currentChurch)
        }
        </head>
    <body>
        <div class="wrapper">
            @* @parts.guidelines(true) *@
            @staticmenu("map")
            @* @staticmenu2("map") *@
            @sociallinks(tweetDescription)
            @parts.main.mainslide1(churchCount)
            @parts.main.mainslide2()
            @parts.main.mainslide3()
            @parts.main.mainslide4(ServerProperties.getValue("facebook.url"))
            <div class="ui modal passport-wrapper">
               @* @parts.guidelines(false) *@
                @parts.passport.passport(currentChurch, user)
                @parts.forms.new_church_form(user)
                @parts.forms.feedback_form(user)
            </div>
        </div>
        <script>
        var userAuthed, userName, mapboxAccessToken, mapboxMapID, churchTilesURL;
        @if(user != null) {
            userAuthed = true;
            userName = '@user.getName';
            console.log(userAuthed);
            } else {
            userAuthed = false;
            userName = '';
            console.log('not authed');
        }
        var googleApiKey = "@ServerProperties.getValue("google.api.key")";
        var port = location.port;
        var thisHost = location.hostname + (port != "" ? ":" + port : "");
        @if(ServerProperties.isInProduction) {
            churchTilesURL = 'http://{s}.' + thisHost + '/tiles/c/{z}/{x}/{y}.json';
        } else {
            churchTilesURL = 'http://' + thisHost + '/tiles/c/{z}/{x}/{y}.json';
        }
            @if(currentChurch != null) {
                @Json.setObjectMapper(Serializer.shallowChurchMapper)
        var currentChurch = @{Html(Json.toJson(currentChurch).toString)};
        }
        mapboxAccessToken = '@ServerProperties.getValue("asd.mapbox.access.token")';
        mapboxMapID = '@ServerProperties.getValue("asd.mapbox.id")';
        </script>
    </body>
</html>
