@import utils.ServerProperties
@import utils.web.RenderUtils
@(content: MediaContent, preview: Boolean)
    @coverImage() = @{
        if(content.getContentType == MediaContentType.Article) {
            if(content.getCover != null)
                content.getCover.getPath
            else
                ServerProperties.getValue("asd.editor.nosrc.image")
        } else
        {
            content.getCoverThumbPath
        }
    }
    @coverClass() = @{
        if(content.getContentType == MediaContentType.Story) {
            "content-cover-image-story"
        } else {
            "content-cover-image-article"
        }
    }
<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
                @parts.heads.commonhead()
                @parts.heads.contenthead()
                @parts.heads.metas()
                @parts.style(".content-cover-image", "background-image: url(" + coverImage() + ");")
        </head>
        <body>
            @if(!preview) {
                @parts.likesInit()
            }
        <div class="wrapper">
            @if(preview){
                @parts.guidelines(true)
            }
            @staticmenu(content.getContentType.toString)
        <div class="content-main-wrapper">
        @if(!preview) {
            @sociallinks()
        }
        </div>
        <div class='content-cover-image @coverClass()'>
            <div class="content-cover-image-overlay"></div>
            <div class="content-title">
            @content.getTitle
            </div>
        </div>
        <div class="content-header-wrapper">
            <div class="content-main-wrapper content-header-center">
                <div class="content-header-date">@RenderUtils.contentDateToString(content.getApprovedDT)</div>
                <div class="content-header-authors-wrapper">
                @for(author <- content.getAuthors) {
                    <div class="content-header-authors">@author.getName</div>
                }
                </div>
                <div class="content-header-social-wrapper">
                @if(!preview) {
                    @parts.likes(content.getContentType.toString.toLowerCase, content.getId)
                }
                </div>
            </div>
        </div>
            @if(content.getLead != null && "" != content.getLead.trim) {
                <div class='content-lead-wrapper'><div class='content-lead'>
                @content.getLead</div></div>
            }
            @parts.media.processed2(content.getText)
        </div>
            @if(content.getContentType == MediaContentType.Story) {
                <div class="mediacontent-church-data">
                @parts.passport.datatable(content.getDedicatedChurch)
                </div>
            }
            <div class="content-main-wrapper">
                <div class="content-main">
                    <nav id="contentmenu-bottom" class="ui secondary pointing menu blurred">
                        @parts.social_bands(false)
                    </nav>
                </div>
            </div>
            @parts.mediacontent_thumbs()
        </body>
    </html>