@()
<html>
    <head>
        <style>
        .pwd-wrapper {
            width : 980px;
            margin-left : auto;
            margin-right : auto;
            font-family : "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
            font-weight: bold;
        }
        .sorry {
            margin-top: 25px;
            text-align : center ;
            font-size : 24px ;
        }
        </style>
    </head>
    <body>
        <div class="pwd-wrapper">
            <div class="sorry">
                Drogi użytkowniku. Strona Architektura VII Dnia zostanie oficjalnie uruchomiona 10.11.2015. Do zobaczenia!
            </div>
            <div class="sorry">
                Dear user. The website Architecture of the VII Day will officially launch on the 10th XI 2015. See you soon!
            </div>
            <form method="get" class="sorry">
                <input type="text" placeholder="password" name="pwd">
                <br>
                <input type="submit">
            </form>
        </div>
    </body>
</html>