@()
<html>
    <head>
        <style>
        .pwd-wrapper {
        width : 500px ;
        margin-left : auto ;
        margin-right : auto ;
        }
        .sorry {
        text-align : center ;
        font-size : 24px ;
        }
        </style>
    </head>
    <body>
        <div class="pwd-wrapper">
            <div class="sorry">Sorry, site is under construction, please, provide password you have</div>
            <form method="get">
                <input type="text" placeholder="password" name="pwd">
                <input type="submit">
            </form>
        </div>
    </body>
</html>