@()
<div class="social-links">
    <div class="social-tw">
        <a target="_blank" href="https://twitter.com/home?status=@routes.Application.index().absoluteURL()">
            <img class="ui image" src="@routes.Assets.at("images/tw.png")">
        </a>
    </div>
    <div class="social-fb">
        <a target="_blank" href="https://www.facebook.com/sharer.php?u=@routes.Application.index().absoluteURL()">
            <img class="ui image" src="@routes.Assets.at("images/fb.png")">
        </a>
    </div>
</div>
