@(activeItem : String)

<div class="content-main-wrapper ui fixed">
    <div class="content-main">
        @*<nav class="main-menu ui fixed secondary pointing menu blurred" id="menu">*@
            @*<div id="links" class="center aligned item">*@
                <a class="@{if ("map".equals(activeItem)) {"active"}} golden item slide-map" href="@routes.Application.index(null)#slide-map">mapa</a>
                <a class="@{if ("article".equals(activeItem)) {"active"}} golden item slide-articles" href="@routes.Application.index(null)#slide-articles">kontekst</a>
                <a class="@{if ("story".equals(activeItem)) {"active"}} golden item slide-stories" href="@routes.Application.index(null)#slide-stories">wspomnienia</a>
            @*</div>*@
        @*</nav>*@
    </div>
</div>