@(activeItem : String)
<nav id="menu" class="ui fixed secondary pointing menu blurred">
    <div class="left item logo-wrapper">
        <div class="logo-wrapper-more item">
            <a id="logo" class="logo" href="@routes.Application.index(null)"><img src="@routes.Assets.at("images/logo.png")" class="ui image"></a>
        </div>
    </div>

    <div id="links" class="center aligned item">
        <a class="@{if ("map".equals(activeItem)) {"active"}} golden item slide-map" href="@routes.Application.index(null)#slide-map">mapa</a>
        <a class="@{if ("article".equals(activeItem)) {"active"}} golden item slide-articles" href="@routes.Application.index(null)#slide-articles">kontekst</a>
        <a class="@{if ("story".equals(activeItem)) {"active"}} golden item slide-stories" href="@routes.Application.index(null)#slide-stories">wspomnienia</a>
    </div>

    <div class="right item">
        <div class="ui search input church-search prompt-wrapper item">
            <input class="prompt" type="text" placeholder="">
            <div class="results"></div>
            <div class="search-icon"></div>
        </div>
@{if ("map".equals(activeItem)) {
        <div class="ui search input content-search prompt-wrapper item" style="display:none;">
            <input class="prompt" type="text" placeholder="" />
            <div class="results"></div>
            <div class="search-icon"></div>
        </div>
}}
    </div>
</nav>
