@(isIndex : Boolean)
<nav id="menu" class="ui fixed secondary pointing menu blurred">
    <div class="left item logo-wrapper">
        <div class="logo-wrapper-more item">
            <a id="logo" class="logo"><img src="@routes.Assets.at("images/logo.png")" class="ui image"></a>
        </div>
    </div>

    <div id="links" class="center aligned item">
        <a class="@{if (isIndex) {"active"}} golden item slide-map" href="@routes.Application.index(null)#slide-map">mapa</a>
        <a class="golden item slide-articles" href="@routes.Application.index(null)#slide-articles">kontekst</a>
        <a class="golden item slide-stories" href="@routes.Application.index(null)#slide-stories">wspomnienia</a>
    </div>

    <div class="right item">
        <div class="ui search input prompt-wrapper item">
            <input class="prompt" type="text" placeholder="szukaj">
            <div class="results"></div>
            <div class="search-icon"><img class="ui image" src="@routes.Assets.at("images/search-icon.png")"></div>
        </div>
    </div>
</nav>
