@()
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <title>Warunki korzystania z portalu www.architektura7dnia.pl</title>

        <link rel="shortcut icon" type="image/png" href="http://architektura7dnia.pl/assets/images/favicon.png">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="pl" />
        <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Warunki korzystania z portalu www.architektura7dnia.pl" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/asd.tos.css")">

            <!--  SIÓDME: NIE KRADNIJ -->

    </head>


    <body>


        <div class="wrap">


            <div class="body-text">

                <div class="d centered">Warunki korzystania z portalu architektura7dnia.pl</div>
                <br /><br />
                <p>
                    Portal www.architektura7dnia.pl („Portal”) jest prowadzony przez Fundację Nowej Kultury Bęc Zmiana oraz Jakuba Snopka („Administrator”)
                </p>
                <p class="bolder">
                    1. Prawa do Portalu
                </p>
                <p>
                    Wszelkie prawa do treści znajdujących się i publikowanych na Portalu przysługują Administratorowi lub osobom trzecim, które wyraziły zgodę na ich publikację na Portalu. Zarówno treści własne Administratora, jak i treści osób trzecich publikowane na Portalu, podlegają ochronie prawnej, w szczególności na podstawie przepisów ustawy z dnia 4 lutego 1994 roku o prawie autorskim i prawach pokrewnych.<br>
                </p>
                <p class="bolder">
                    2. Korzystanie z Portalu
                </p><p>
                    Treści zamieszczane w Portalu są dostępne dla wszystkich korzystających z internetu, chyba że z opisu danej funkcjonalności wynika inaczej. Dostęp do treści w Portalu oraz korzystanie z jego funkcjonalności nie podlega żadnym opłatom. Warunkiem uzyskania dostępu do Portalu jest skorzystanie z urządzenia komunikującego się z internetem i wyposażonego w powszechnie używaną przeglądarkę internetową w zaktualizowanej wersji.<br>
                    Z zastrzeżeniem punktu 4, możliwość korzystania z treści publikowanych w Portalu nie oznacza nabycia jakichkolwiek praw do tych treści, a w szczególności osoba korzystająca z tych treści nie jest uprawniona do ich komercyjnego wykorzystania (kopiowania, modyfikowania, transmitowania, rozpowszechniania, pobierania zawartości baz danych będących elementem Portalu). Korzystanie z treści publikowanych na Portalu możliwe jest w ramach dozwolonego użytku, w zakresie wynikającym z przepisów prawa.<br>
                    Administrator zezwala na linkowanie do Portalu i poszczególnych treści z Portalu, z wyłączeniem umieszczania linków na stronach lub w sąsiedztwie treści naruszających prawo lub dobre obyczaje.<br>
                </p>
                <p class="bolder">
                    3. Licencje do treści
                </p><p>
                    Przy niektórych treściach publikowanych w Portalu może być wskazane, że korzystanie z tych treści możliwe jest zgodnie ze wskazaną licencją Creative Commons.<br>
                    Możliwe jest również uzyskanie licencji do innych treści publikowanych w Portalu. W celu uzyskania takiej licencji prosimy o kontakt pod adresem <a href="emailto:bec@@beczmiana.pl">bec@@beczmiana.pl</a>.<br>
                </p>
                <p class="bolder">
                    4. Prywatność
                </p><p>
                    Administrator jest administratorem danych osobowych podanych przez osoby (i) rejestrujące się do Portalu (jeżeli taka funkcjonalność będzie przewidziana w ramach Portalu); (ii) które podały swoje dane Administratorowi w związku z przesłaniem treści celem ich opublikowania na Portalu. Dane osobowe podawane są dobrowolnie i będą przetwarzane przez Administratora w celu świadczenia usług w ramach Portalu lub zawarcia umów licencji z osobami podającymi swoje dane.<br>
                    Przetwarzanie danych będzie odbywało się w zautomatyzowanych systemach komputerowych.<br>
                    Podanie danych osobowych jest zawsze dobrowolne. Odmowa podania danych osobowych wymaganych w formularzu dotyczącym przesyłania treści w celu ich opublikowania na Portalu uniemożliwia zawarcie umowy licencji i publikację treści w Portalu. Osoba, której dane dotyczą, ma prawo dostępu do swoich danych i ich poprawiania. Osoba, której dane dotyczą, ma również prawo do żądania zaprzestania wszelkiego wykorzystywania danych z naruszeniem przepisów prawa, jak również do wycofania swojej zgody na przetwarzanie danych osobowych.<br>
                </p>
                <p class="bolder">
                    5. Ciasteczkowy potwór
                </p><p>
                    W celu prawidłowego działania Portalu, Administrator wykorzystuje pliki cookies.<br>
                    Pliki cookies, zwane też ciasteczkami, to różne dane informatyczne, najczęściej pliki tekstowe, które przechowywane są w urządzeniu końcowym (np. na dysku komputera, karcie pamięci tabletu) osoby korzystającej z internetu i stron internetowych. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas ich przechowywania oraz unikalny numer. Jeżeli dana strona przechowuje pliki cookies na komputerze użytkownika, to przy każdym kolejnym odwiedzeniu tej strony przez użytkownika, strona ta odczytuje zachowane wcześniej pliki cookies.<br>
                    Ustawienia domyślne przeglądarek internetowych z reguły zezwalają na korzystanie przez przeglądarki z plików cookies i na ich zapisywanie. Użytkownik może w każdej chwili zmienić te ustawienia w swojej przeglądarce zgodnie z jej funkcjonalnością. Plikami cookies zarządza się z pozycji przeglądarki internetowej, z której się korzysta. W przeglądarce można też usunąć przechowywane pliki cookies. Informacje, w jaki sposób to zrobić, można znaleźć w dziale pomocy w każdej przeglądarce.<br>
                    Uniemożliwienie korzystania przez przeglądarkę z plików cookies w Portalu nie uniemożliwi korzystania z Portalu, ale niektóre funkcjonalności mogą być wówczas niedostępne lub korzystanie z nich może być utrudnione.<br>
                </p>
            </div>
        </div>
    </body>
</html>

