@import models.internal.search.filters.ArticleFilter
@import utils.serialize.converters.DateTimeConverter
@import models.user.User
@import models.user.UserRole
@(articles: List[MediaContent], filter: ArticleFilter, user: User)

<div id="articles" class="admin-page">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>PublishOn</th>
                <th>PublishedBy</th>
                @if(user.getRole == UserRole.Administrator) {
                    <th>Star</th>
                    <th>Actions</th>
                }
            </tr>
        </thead>
        @if(user.getRole == UserRole.Administrator) {
            <tr id="article_0">
                <td colspan="5">New article</td>
            </tr>
        }
        @for(a <- articles) {
            <tr id="article_@a.getId" @if(a.getApprovedDT == null) {class='bold-thing'}>
                <td>@a.getTitle</td>
                <td>@a.getAuthors.map(x => x.getName).mkString(", ")</td>
                <td class="noedit"><input type="datetime" value="@{
                    if(a.getApprovedDT != null) {
                        DateTimeConverter.sdf.format(a.getApprovedDT)
                    }
                }" disabled="disabled">
                </td>
            <td>@{if(a.getApprovedBy != null){a.getApprovedBy.getName} else {""}}</td>
                @if(user.getRole == UserRole.Administrator) {
            <td class="noedit"><input type="checkbox" @{
                    if(a.getStarred == true) "checked"
                } onchange="flipStar('article', @a.getId);">
                </td>
                <td class="noedit">
                    @*<a href="@routes.MediaContents.byTypeAndId("article", a.getId + "", "html")" target="_blank"><img src="@routes.Assets.at("images/arrow_selector_menu_golden.png")"></a>*@
                    <a href="@routes.MediaContents.byTypeAndId("article", a.getId + "", "html")" target="_blank"> view </a><br><br>
                    <a href="javascript: flipApprove('article', @a.getId, @{a.getApprovedDT == null});"> @{if(a.getApprovedDT == null)  "publish" else "unpublish"} </a><br><br>
                    @*<a href="javascript: removeContent('article', @a.getId);" style="margin-left:20px;"><img src="@routes.Assets.at("images/close_button.png")"></a>*@
                    <a href="javascript: removeContent('article', @a.getId);"> remove </a>
                </td>
            </tr>
            }
        }
            <tfoot>
                <tr>
                    <th colspan="6">
                            <!--<div class="ui left floated search input">-->
                            <!--<input type="text" placeholder="Filter by">-->
                            <!--</div>-->
                        @parts.admin.paginator(filter, "articles")
    </th>
    </tr>
    </tfoot>

    </table>
</div>
