@import models.internal.search.filters.ArticleFilter
@import utils.serialize.DateTimeConverter
@(articles: List[MediaContent], filter: ArticleFilter)

<div id="articles" class="admin-page">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Publish on</th>
                <th>Starred</th>
            </tr>
        </thead>
        <tr id="article_0">
            <td colspan="3">New article</td>
        </tr>
        @for(a <- articles) {
            <tr id="article_@a.getId">
                <td>@a.getTitle</td>
                <td>@a.getAuthors.map(x => x.getName).mkString(", ")</td>
                <td class="noedit"><input type="datetime" value="@DateTimeConverter.sdf.format(a.getApprovedDT)"></td>
                <td class="noedit"><input type="checkbox" @{if (a.getStarred) "checked"}></td>
            </tr>
        }
        <tfoot>
            <tr>
                <th colspan="3">
                        <!--<div class="ui left floated search input">-->
                        <!--<input type="text" placeholder="Filter by">-->
                        <!--</div>-->
                    @parts.admin.paginator(filter, "articles")
                </th>
            </tr>
        </tfoot>

    </table>
</div>
