@import models.internal.search.filters.ChurchFilter
@import utils.serialize.converters.DateTimeConverter
@import models.internal.ChurchSuggestion
@import models.user.User
@(churches : List[Church], filter : ChurchFilter, newChurches : List[ChurchSuggestion], dioceseIds: List[String], admin: User)
@suggestedByName(cs : ChurchSuggestion) = @{
    if(cs.getSuggestedBy != null) {
        cs.getSuggestedBy.getName
    } else {
        "Unknown"
    }
}
@suggestedById(cs : ChurchSuggestion) = @{
    if(cs.getSuggestedBy != null) {
        cs.getSuggestedBy.getId
    } else {
        admin.getId
    }
}
@if(newChurches != null && newChurches.size() > 0) {
    <b>New churches:</b>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Comment</th>
                <th>Suggested by</th>
                <th>Actions</th>
            </tr>
        </thead>
        @for(cs <- newChurches) {
            <tr>
                <td>@cs.getName</td>
                <td>@cs.getAddress</td>
                <td>@cs.getComment</td>
                <td>@suggestedByName(cs)</td>
                <td><a href="javascript:addChurchAdmin('@cs.getName', '@cs.getAddress', @suggestedById(cs), @cs.getId);">add</a>
                    <br>
                    <a href="javascript:apiIgnoreSuggestion(@cs.getId);">ignore</a>
                    @*<br>*@
                    @*<a href="javascript:removeContent('suggestion', @cs.getId);">remove</a>*@
                </td>
            </tr>
        }
    </table>
    <div class="new-church-admin-form ui modal">
        <form class="nc-form ui form">
            <div class="ui selection dropdown">
                <input type="hidden" name="dioceseId">
                <i class="dropdown icon"></i>
                <div class="default text">Choose diocese</div>
                <div class="menu">
                @for(dioId <- dioceseIds) {
                    <div class="item" data-value="@dioId">@dioId</div>
                }
                </div>
            </div>
            <br>
            <label for="nc-ext-id">Church ID</label>
            <input id="nc-ext-id" type="text" name="extId" placeholder="church id">
            <label for="nc-name">Church Name</label>
            <input id="nc-name" type="text" name="name" placeholder="name">
            <label for="nc-address">Address</label>
            <input id="nc-address" type="text" name="address" placeholder="address">
            <input id="nc-user-id" type="hidden" name="userId">
            <input id="nc-suggestion-id" type="hidden" name="suggestionId">
            <input class="ui submit button" value="add church" type="button">
        </form>
    </div>
}

<div id="churches" class="admin-page">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Church</th>
                <th>Address</th>
                <th>ApprovedDT</th>
                <th>ApprovedBy</th>
                <th>Reqs</th>
                <th>Actions</th>
            </tr>
        </thead>
        @for(c <- churches) {
        <tr id="church_@c.getExtID">
            <td>@c.getExtID</td>
            <td>@c.getName</td>
            <td class="noedit"><input type='checkbox' @{if(c.getAddress != null){"checked='checked'"}} ></td>
            <td class="noedit"><input type="datetime" value="@{
                if(c.getApprovedDT != null) {
                    DateTimeConverter.sdf.format(c.getApprovedDT)
                }
            }" disabled="disabled">
            </td>
            <td>@{if(c.getApprovedBy != null){c.getApprovedBy.getName} else {""}}</td>
            <td>@{if(c.getRequests != null){c.getRequests.count(r => !r.isFixed && !r.isIgnored)}}</td>
            <td class="noedit">
                <a href="javascript: flipApprove('church', '@c.getExtID', @{c.getApprovedDT == null});"> @{if(c.getApprovedDT == null) "publish" else "unpublish"} </a><br><br>
            </td>
        </tr>
        }
        <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui left floated search input">
                        <input type="text" placeholder="Filter by name" class="filter-like text-filter" value="@filter.getNameFilter">
                    </div>
                    @parts.admin.paginator(filter, "churches")
                </th>
            </tr>
        </tfoot>
    </table>
</div>
