@import models.internal.search.filters.ImageFilter
@import utils.serialize.converters.DateTimeConverter
@import utils.media.images.Thumber
@import utils.ServerProperties
@import java.util
@import scala.collection.JavaConverters._

@import models.user.User
@import models.user.UserRole
@(images: Map[Image, java.util.List[Church]], filter: ImageFilter, user: User)

@getThumb(path:String) = @{
    val slash = path.lastIndexOf('/')
    val fname = path.substring(slash + 1)
    val dot = fname.lastIndexOf('.')
    if (dot > 0) {
        val glLI = fname.lastIndexOf(Thumber.THUMB_GL)
        val prepath = path.substring(0, slash + 1)
        if(glLI > 0) {
            prepath + fname.substring(0, glLI) + Thumber.THUMB_ED + '.' + fname.substring(dot + 1)
        } else
            prepath + fname.substring(0, dot) + Thumber.THUMB_ED + '.' + fname.substring(dot + 1)
    } else
    ServerProperties.getValue("asd.editor.nosrc.image")
}
@getOriginal(path:String) = @{
    val slash = path.lastIndexOf('/')
    val fname = path.substring(slash + 1)
    val dot = fname.lastIndexOf('.')
    if (dot > 0) {
        val glLI = fname.lastIndexOf(Thumber.THUMB_GL)
        val prepath = path.substring(0, slash + 1)
        if(glLI > 0) {
            prepath + fname.substring(0, glLI) + '.' + fname.substring(dot + 1)
        } else
            path
    } else
    ServerProperties.getValue("asd.editor.nosrc.image")
}
<div id="images" class="admin-page">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Preview</th>
                <th>UploadedBy</th>
                <th>ApprovedOn</th>
                <th>ApprovedBy</th>
                <th>To churches</th>
                @if(user.getRole == UserRole.Administrator) {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        @for(i <- images.keySet()) {
            <tr id="image_@i.getId" @if(i.getApprovedTS == null) {class='bold-thing'}>
                <td style="max-width : 150px;">@i.getDescription</td>
                <td class="noedit"><a href="@getOriginal(i.getPath)" target="_blank"><img src="@getThumb(i.getPath)" class="ui image"></a></td>
                <td>@{if (i.getUploadedBy != null) i.getUploadedBy.getName else "Unknown"}</td>
                <td class="noedit"><input type="datetime" value="@{
                    if(i.getApprovedTS != null) {
                        DateTimeConverter.sdf.format(i.getApprovedTS)
                    }
                }" disabled="disabled">
                </td>
                <td>@{if(i.getApprovedBy != null){i.getApprovedBy.getName} else {""}}</td>
                <td class="noedit">
                    @for(c <- images.get(i).asScala) {
                        <a href="/admin?churches_like=@c.getExtID#churches">@c.getExtID</a>
                    }
                </td>
                @if(user.getRole == UserRole.Administrator) {
                <td class="noedit" style="min-width: 110px;">
                    <a href="javascript: flipApprove('image', @i.getId, @{i.getApprovedTS == null});">@{if(i.getApprovedTS == null)  "approve" else "disapprove"} </a>
                    <br><br>
                    <a href="javascript: removeContent('image', @i.getId);">remove</a>
                </td>
                }
            </tr>
        }
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui left floated search input">
                            <input type="text" placeholder="Filter by church" class="filter-church text-filter" value="@filter.getChurchFilter">
                        </div>
                        @parts.admin.paginator(filter, "images")
                    </th>
                </tr>
            </tfoot>
    </table>
</div>
