@import models.internal.search.filters.StoryFilter
@import utils.serialize.converters.DateTimeConverter
@(stories: List[MediaContent], filter : StoryFilter)
<div id="stories" class="admin-page">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>PublishOn</th>
                <th>ApprovedBy</th>
                <th>Star</th>
                <th>Actions</th>
            </tr>
        </thead>
        @for(s <- stories) {
        <tr id="story_@s.getId" @if(s.getApprovedDT == null) {class='bold-thing'}>
            <td>@s.getTitle</td>
            <td>@{if(s.getAddedBy != null) s.getAddedBy.getName}</td>
            <td class="noedit"><input type="datetime" value="@{
                if(s.getApprovedDT != null) {
                    DateTimeConverter.sdf.format(s.getApprovedDT)
                }
            }" disabled="disabled">
            </td>
            <td>@{if(s.getApprovedBy != null){s.getApprovedBy.getName} else {""}}</td>
            <td class="noedit"><input type="checkbox" @{
                if (s.getStarred == true) "checked"
            } onchange="flipStar('story', @s.getId);">
            </td>
            <td class="noedit">
                <a href="javascript: flipApprove('story', @s.getId, @{s.getApprovedDT == null});"> @{if(s.getApprovedDT == null) "publish" else "unpublish"} </a><br><br>
                @*<a href="javascript: removeContent('story', @s.getId);" style="margin-left:20px;"><img src="@routes.Assets.at("images/close_button.png")"></a>*@
                <a href="javascript: removeContent('story', @s.getId);"> remove </a>
            </td>

        </tr>
        }
        <tfoot>
            <tr>
                <th colspan="6">
                    @parts.admin.paginator(filter, "stories")
                </th>
            </tr>
        </tfoot>
    </table>
</div>
